[2016-04-21 20:17] priand opened #1 "Maven"
This project as almost everything that we need except the maven plugin. Can we help and get it contributed?

[2016-04-21 20:29] MobiDevelop commented on #1
Definitely happy for any contribution. Probably best to get it all organized under "plugins/maven" so it is all self-contained.

[2016-04-21 20:45] priand commented on #1
This is what we were thinking about. We'll work on our fork and push the changes when done.

[2016-04-21 21:30] MobiDevelop commented on #1
Cool thanks, looking forward to your PR, closing this out in the meantime.

[2016-04-21 21:30] #1 closed

[2016-04-22 13:23] blady214 opened #2 "Could not resolve dependencies"
After running bulid.sh script I get those errors:

[2016-04-22 13:25] MobiDevelop commented on #2
Please make sure that you have IntelliJ IDEA installed at the path indicated in the readme.

[2016-04-22 13:27] blady214 commented on #2
Yes, it is in the given path.

[2016-04-22 13:30] MobiDevelop commented on #2
The error you provided says otherwise.

[2016-04-22 13:32] blady214 commented on #2
OK, my bad, it's because I've got community edition and the main name is IntelliJ IDEA CE.

[2016-04-22 13:33] MobiDevelop commented on #2
Cool, glad you got it sorted.

[2016-04-22 13:33] #2 closed

[2016-04-22 13:34] blady214 commented on #2
Thank for your realy fast help!

[2016-04-25 21:03] priand commented on #1
Not sure how we can communicate so I'm using this bug as a container... Maybe we should open a slack?
Anyway, can you please chime in https://github.com/FlexoVM/flexovm/issues/4#issuecomment-214476817? My goal is to make sure that we contribute to a single fork and make it rock solid.

[2016-04-25 21:56] MobiDevelop commented on #1
To be honest, I am not really interested in all the politics found in that thread. My goal with this repo is to provide a stable RoboVM-based backend for use by the libgdx community. I’m happy to have people send pull requests to this repo, or to fork it if they like, but I’d rather focus on being productive than politics.

[2016-04-26 09:07] Zubnix commented on #1
The goal of that thread was to see if their could found some kind of common ground for collaboration between all the forks. Not who is in charge, or who has control on what or anything.

However looks like robovm forks are somewhat wary of collaborating out of fear of losing control (I assume?). The result is that there are now a dozen one man (pet) projects with their own isolated scope, isolated

[2016-04-27 13:31] blady214 opened #3 "IntelliJ - unable to debug on device"
When I try to debug my application directly on device using IntelliJ platform I everytime get following error:

In RoboVM studio everything worked properly. Is there any soultion to fix it?

[2016-04-27 13:46] priand commented on #3
The debugger is a pay option in RoboVM and has never been delivered in the open source project. This is something we have to add from scratch, if we find the resources to help.
By the meantime, if you have a valid RoboVM license, you can install the older 1.8 and use that for development.

[2016-04-27 13:49] blady214 commented on #3
Thanks for the reply. Yes, I have the valid license but not soon it expires and I am looking for the alternative. This solution is looking really good and promising.

[2016-05-03 13:48] cjuillard opened #5 "ConfigTest failing"
The build was failing for me because of a couple tests in ConfigTest, testWriteIOS() and testWriteConsole(). The failures were related to missing

`<useLineNumbers>false</useLineNumbers>`

in the xml.

Making [these changes](https://github.com/cjuillard/robovm-MobiDevelop/commit/9935966f9035b0bbb609af8c8c4c1e331f3f71e6) allowed the build to complete but I don't know enough about the code to know i

[2016-05-03 15:51] MobiDevelop commented on #5
I believe that is indeed the actual fix.

[2016-05-03 16:55] #5 closed

[2016-05-09 17:59] florianf opened #10 "Future Planning and ToDo's"
Hi folks,

thanks to your excellent description I was able to compile robovm from source. Since I'm using libgdx & robovm for many projects I thought I could lend a hand to get the community fork started.

What could and should be done? Are there some easy tasks, or missing documentation, tests, etc. required?

Please bear in mind, that I've close to zero experience regarding llvm and eclipse plug

[2016-05-13 17:38] florianf opened #11 "Compiling on Ubuntu 14.04"
Hi,

compiling on Linux (Ubuntu 14.04, gcc 4.8) works perfectly. Besides the obvious pacakges (cmake, maven, gcc, g++, autotools), the following are also needed:

g++-multilib
gcc-multilib
libcap-dev

[2016-05-13 18:34] florianf commented on #11
One litte addition: Because of https://github.com/MobiDevelop/robovm/commit/7bff6695e77b8c877244d3e07110468f6e4b47a3 it's necessary to ignore the maven error in the robovm-compiler project.

[2016-05-16 11:38] #3 closed

[2016-05-16 11:40] xoppa commented on #10
Thanks. We still need to look into robopods, forking them and adding them to the repo.

[2016-05-16 11:40] #10 closed

[2016-05-16 11:40] xoppa commented on #11
Thanks for reporting, we may some day add the linux native build back into the release.

[2016-05-16 11:40] #11 closed

[2016-05-17 15:34] rephiscorth opened #12 "Unsupported major.minor version 52.0"
When re-starting Android Studio (after installing the plugin, or after activating it), it crashed with the following error:

[code]

I already got java 8 when running `java -version`, what could be wrong?

[2016-05-17 15:38] Tom-Ski commented on #12
You need to force Android studio to use a 1.8 JVM to run itself, usually done by changing the info.plist or an ini file depending on your platform.

[2016-05-19 00:03] 3xp0n3nt opened #13 "RoboVM Gradle Plugin: Execution failed for task ':android:lintVitalRelease'. > originalComplianceLevel"
#### Issue details
Using the latest `gdx-setup.jar`, creating a new default LibGDX project using gdx-setup.jar, running `./gradlew clean build` causes build failure with all current versions of @MobiDevelop's RoboVM Gradle plugin.

There is some sort of conflict between the RoboVM Gradle plugin & the Android Gradle plugin. If you remove either one of these two plugins from the buildscript, the bui

[2016-05-19 16:05] MobiDevelop commented on #13
Though I don't know how to fix it - it would seem that the RoboVM plugin is pulling in a version of the the CompileOptions (`org.eclipse.jdt.internal.compiler.impl.CompilerOptions`) which doesn't have the `originalComplianceLevel` field that the Android lint plugin is trying to use.

[2016-05-19 17:36] MobiDevelop commented on #13
I found a workaround for now... I removed the robovm plugin from the root buildscript dependencies and put it in the ios/build.gradle instead.

**build.gradle**
[code]

**ios/build.gradle**
[code]

[2016-05-19 22:33] 3xp0n3nt commented on #13
Thanks! I'll test it out later today.

[2016-05-20 05:04] 3xp0n3nt commented on #13
Workaround seems to be ok so far.

[2016-05-20 08:08] #13 closed

[2016-05-21 14:26] bsideup opened #14 "Non-iOS targets?"
Hi!

Will you support non-iOS targets like Mac OS X, Windows, Linux? I know that it was possible to build native binaries with RoboVM, and I really want to keep this feature :)

Thanks!

[2016-05-21 15:12] intrigus commented on #14
RoboVM never supported Windows.
Non iOS targets will probably not be supported since libgdx doesn't target these platforms. And this fork is primarily intended for libgdx developers.

[2016-05-23 14:05] chaky31 opened #15 "Is it possible use robopods?"
Hi, I have seen this fork, and I tried to use with the robopods (1.14.0), but I have had some errors and I don´t know if it is possible use robopods or if it will be possible.
Thanks.

[2016-05-23 17:36] MobiDevelop commented on #15
At this point you'd have to use robopods that were compatible with RoboVM 1.8.0 (I've not tested this myself) since this fork is based on RoboVM 1.8.0.

[2016-05-24 15:49] chaky31 commented on #15
Well, I confirm robopods 1.14.0 is not compatible. I have a problem with a class that was added in 1.9.0.
If I try to use version 1.8.0 of robopods I have a problem so I think this version is not avalible actually.

Has someone tried to use this fork with robopods with better results?
Do somenone knows how get robopods 1.8.0?

Thank's

[2016-05-24 16:04] dasouza commented on #15
I think I'm having the same problem on libgdx 1.9.3 using robopods 1.14.0.

[code]

I tried installing robopods 1.8.0 as suggested, but it looks like it's not available:

`Failed to resolve: org.robovm:robopods-google-mobile-ads:1.8.0
`

[2016-05-24 16:44] MobiDevelop commented on #15
As far as I can tell, the only robopods that existed for 1.8.0 were Facebook and Bolts. Any others would have to be backported from 1.14.0 to 1.8.0.

[2016-05-24 17:03] dasouza commented on #15
I'm not very familiar with robovm or robopods but, shouldn't google-mobile-ads be also available in 1.8.0 as per README file in robovm [templates-1.8.0](https://github.com/robovm/robovm-robopods/tree/robovm-templates-1.8.0) branch?

[2016-05-24 17:09] Tom-Ski commented on #15
There aren't published artifacts, at least not on maven central.

[2016-05-26 04:17] JahrudZ opened #16 "Advertisements?"
So to my understanding, robopods will not work on this fork of robovm? Is there any other solution to getting ads to run on ios? Thanks :)

[2016-05-26 16:33] Tom-Ski commented on #16
See http://www.badlogicgames.com/forum/viewtopic.php?f=11&t=22652

The pods will be backported eventually.

[2016-05-26 16:33] #16 closed

[2016-05-30 23:00] wolpert commented on #13
Just an FYI... I had to do this workaround with 1.9.3 update just now. Not even using RoboVM... but I guess when I built the project originally I had added iOS as a deployment platform. Even though I never call RoboVM, this gradle fix was needed for me to get an android build working again.

[2016-05-31 14:54] florianf opened #17 "First attempt at debugging support"
Hi folks,
I've been learning about the debugging support of RoboVM the last few weeks. I've no idea to what this will lead, just wanted to give you a quick heads-up.

The basic blocks are described in this blog post:
https://robovm.com/robovm-1-0-released-commercial-licenses-a-look-under-the-hood/
I also found a public LLVM IR RoboVM debug dump online which helped reverse engineering the internals

[2016-06-03 21:30] bpawel10 opened #18 "Different coordinate system on different iOS devices"
Hi,

on newer iPhones, for example iPhone 5S or 6S, normal touch coordinates work fine. However, when I test it on my iPhone 4, touch coordinates are very strange and I need to change it to use:
[code]
and then it works.

[2016-06-03 21:43] MobiDevelop commented on #18
See: https://github.com/libgdx/libgdx/issues/3954

Would prefer not to track this in multiple places.

[2016-06-03 21:43] #18 closed

[2016-06-04 06:50] Longri opened #19 "CGBitmapContext.setLineJoin(..) and .setLineCap(..) explode with a NPE (original robovm issue #330)"
Calling CGBitmapContext.setLineJoin(CGLineJoin) or CGBitmapContext.setLineCap(CGLineCap) explodes with an NPE:

java.lang.NullPointerException
at org.robovm.rt.bro.ValuedEnum$AsSignedIntMarshaler.toNative(ValuedEnum.java)
at org.robovm.apple.coregraphics.CGContext.setLineCap(Native Method)

java.lang.NullPointerException
at org.robovm.rt.bro.ValuedEnum$AsSignedIntMarshaler.toNative(ValuedEnum.java

[2016-06-07 13:41] Longri commented on #19
Sorry, my CGLineJoin was really NULL!

NO DEBUG OR STACKTRACE WITH LINE NUMBER

[2016-06-07 13:41] #19 closed

[2016-06-07 19:47] florianf commented on #17
Hello again,
just wanted to let you know, that very basic debugging via lldb works in my fork now. Very basic means you can set breakpoints into Java files and lldb shows the correct source and halts at the correct line. Stepping is a bit tedious, because it also steps into every RoboVM runtime method.
Sadly something is still wrong with the line annotations, so the linetable for methods.c isn't b

[2016-06-13 18:40] priand opened #20 "Build documentation for IDEAJ"
The build doc says:
IntelliJ IDEA 15 or higher, stored under /Applications/IntelliJ IDEA.app

It is actually "IntelliJ IDEA CE.app" (community edition). Else, on my machine, it fails to compile.

[2016-06-14 14:31] MobiDevelop commented on #20
Indeed, originally I had it set to the non-CE path because I don't use Community Edition. We subsequently changed it to CE for the more common case of using Community Edition. Will update the readme.

[2016-06-14 14:33] #20 closed

[2016-06-18 16:38] tzvetkovg commented on #15
so is there any further development, can we use the robopods ? I am more interested in the google admob robopod?

[2016-06-18 22:08] InexHead commented on #15
I am running into this issue with google games, google sign in, and other robopods. How does one back port a robopod?

[2016-06-20 13:19] #12 closed

[2016-06-28 05:51] digitalgust commented on #17
glad to see you do that, 👍

[2016-06-28 10:17] florianf commented on #15
Hi folks,
I ported the google-mobile-ads robopod to the Mobidevelop RoboVM 2.1.0 fork.
My fork of the robopods:
https://github.com/florianf/robovm-robopods
The google-apis and  google-mobile-ads projects should be buildable by maven, they have this fork as dependency defined.

Download the http://dl.google.com/googleadmobadssdk/googlemobileadssdkios.zip and unpack the
GoogleMobileAds.framework to

[2016-07-01 02:23] digitalgust commented on #17
what about the debug now?

[2016-07-01 12:56] blady214 opened #23 "Uanble to compile RoboVM"
Hello again,

I am still using your RoboVMfork and it works fine for me. I've decided to update the sources of RoboVM but I get error when compiling. All required apps are installed. I am attaching installation log, could you help me?
[rvm-compile.txt](https://github.com/MobiDevelop/robovm/files/343485/rvm-compile.txt)

[2016-07-01 13:03] MobiDevelop commented on #23
Based on the log, you seem to be missing cmake.

[2016-07-01 13:07] blady214 commented on #23
The speed of your responses suprised me once again. There is a cmake installed but maybe it's not availble from command line. I will check it and let you know in few minutes.

BTW: What you mean by normal app in: "Normal iOS apps have not been tested against it. Use at your own risk."? If it's application without libgdx I could confirm that on previous release of your fork it works fine.

[2016-07-01 14:44] blady214 commented on #23
You''re right. Now build has been completed succesfully.

[2016-07-01 14:44] #23 closed

[2016-07-02 03:41] schedul-xor opened #24 "Custom JNI throwing `java.lang.UnsatisfiedLinkError`"
Using LibGDX and two JNI external libraries. LibGDX link is working fine but the two others seem to be not.

First JNI is sqlite3. I wrote `<config><forceLinkClasses><pattern>SQLite.**</pattern></forceLinkClasses></config>` to [robovm.xml.zip](https://github.com/MobiDevelop/robovm/files/344384/robovm.xml.zip), seems to be linked in clang++ (see [robovm.console-out.txt](https://github.com/MobiDevel

[2016-07-02 08:39] schedul-xor commented on #24
It was my careless mistake. Nothing was wrong. I'm so sorry.

[2016-07-02 08:39] #24 closed

[2016-07-04 09:05] blady214 opened #25 "How to use RoboVM in CL?"
Hello again,

I need to run RoboVM from commandline but I get follwiong error:
`robovm-dist-compiler.jar not found`

How to setup configuration to run RoboVM in CLI?

[2016-07-04 09:09] blady214 commented on #25
My bad... I have to set up ROBOVM_DEV_ROOT.

[2016-07-04 09:15] blady214 commented on #25
I am still unable to run RoboVM form commandline. After setting ROBOVM_DEV_ROOT variable to _robovm-master/compiler_ directory I get following error:
`ls: /Users/x/Documents/robovm-master/compiler//../robovm-dist/compiler/target/robovm-dist-compiler*.jar: No such file or directory`

[2016-07-04 09:21] blady214 commented on #25
OK, got it, to run RoboVM form CLI I have to change the name of _dist_ diretcort to _robovm-dist_. I think that you could fix it in scripts :)

[2016-07-04 12:49] blady214 commented on #25
I've got next problem. RoboVM is unable to find my Main class. In robovm.xml I've provided the fully-qualifed class name: com.myApp.client.ios.Main and also set classpath to: src/main/java/com/myApp/client/ios where is Main.java class file and other classes in subdirectories. Every time whe I'm starting build I get follwing error: _robovm: Main class com.myApp.client.ios.Main not found_.

[2016-07-06 10:10] blady214 commented on #25
I'am also unable to build my app using Maven, I get the same error:
`[ERROR] Failed to execute goal org.robovm:robovm-maven-plugin:1.12.0:ipad-sim (default-cli) on project myApp: Failed to launch IOS Simulator: Main class com.myApp.client.ios.Main not found -> [Help 1]`

[2016-07-07 17:50] Tom-Ski commented on #25
We don't have the maven plugin ported for this fork yet, you are trying to use the old robovm maven plugin. You can try the gradle plugin if you want to work on command line otherwise wait for the maven plugin to get pulled.  The is a PR active, it just needs a few changes before it can be pulled.

Please only open issues if you have an issue with this project that can be reproduced, thanks!

[2016-07-07 17:50] #25 closed

[2016-07-07 18:32] blady214 commented on #25
So, forget about maven, but I am also unable to build it using RoboVM in CLI as here: http://docs.robovm.com/advanced-topics/commandline.html.

[2016-07-07 18:34] Tom-Ski commented on #25
You'll have to take all of the documentation there with a pinch of salt as we are not running the same version of RoboVM that the documentation exists for.  That said, if you think you have a an issue with THIS project, please create an issue with a self contained executable example that reproduces your issue.

[2016-07-09 21:19] JahrudZ commented on #15
@florianf Can you give a more detailed explanation on how to get the google ads to work? Also do they support video ads? Thanks!

[2016-07-10 12:00] JahrudZ commented on #15
@florianf So I installed your robopods using the instructions you provided, but in the local repositories, there isn't "org.robovm:robopods-google-mobile-ads-ios", theres only "org.robovm:robopods-google-mobile-ads-parent" please help! Thanks :)

[2016-07-10 18:32] florianf commented on #15
@JahrudZ  Did first run
```mvn -N install```
and then
```mvn install```
command?

What was the output of the second command?
Should be something like:
[code]

[2016-07-10 19:37] JahrudZ commented on #15
@florianf

Here's my output

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building RoboPods Parent 2.1.0
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-enforcer-plugin:1.0:enforce (enforce-maven) @ robopods-parent ---
[INFO]
[INFO] --- maven-install-plugin:2.4:i

[2016-07-10 20:15] JahrudZ commented on #15
@florianf Here's the full error printout

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building RoboPods Parent 2.1.0
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-enforcer-plugin:1.0:enforce (enforce-maven) @ robopods-parent ---
[INFO]
[INFO] --- maven-install

[2016-07-10 20:56] florianf commented on #15
@JahrudZ thanks for the pointer, there were some deps missing in the pom.xml. I added them back, can updated your local copy and try again?

[2016-07-10 21:18] JahrudZ commented on #15
@florianf looks like its working! Thanks so much! Last question: Do you know if reward videos will work? Thaaaanksss :)

[2016-07-10 21:28] florianf commented on #15
Fine. Regaring videos: Didn't test it. Simple banners work.

[2016-07-11 01:49] JahrudZ commented on #15
@florianf I'm getting different errors now :/

2016-07-10 21:41:43.585 IOSLauncher[25730:1447503] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[GADRewardBasedVideoAd loadRequest:withAdUnitID:userID:]: unrecognized selector sent to instance 0x1f001a60'
*** First throw call stack:
(
	0   CoreFoundation                      0x07771494 __exceptionPreprocess + 1

[2016-07-11 02:15] JahrudZ commented on #15
@florianf
https://groups.google.com/forum/#!topic/google-admob-ads-sdk/0YJ9zvUmArQ

Looks like there're -ObjC linker files missing?

Also, could you add an "issues" portion to your fork so we can move this stuff over there? Thanks

[2016-07-11 11:44] florianf commented on #15
@JahrudZ The interface for the changed in the new SDK Version. I updated the bindings, check if it works now. A simple example with loadRequest worked for me now, although I didn't display any ad.
If you could provide a minimal example what you're trying to do, than I can try myself the necessary methods.

[2016-07-11 12:06] florianf commented on #17
@digitalgust There are some plans regarding debugging, but nothing concrete yet.

If you or anybody wants to help take a look at the ShadowFrames implementation:
C-Function:
https://github.com/MobiDevelop/robovm/blob/master/compiler/vm/core/src/shadowframes.c
Java Compiler Plugin:
https://github.com/MobiDevelop/robovm/blob/master/compiler/compiler/src/main/java/org/robovm/compiler/plugin/shadowfra

[2016-07-11 18:02] florianf opened #27 "Status of Robopods porting"
# RoboVM RoboPods porting status

Official repository of finished bindings is:
https://github.com/MobiDevelop/robovm-robopods

Add a comment or a gitter message if you are working on a binding. Than I update the status and link the repository. Finished bindings should go to the official binding repository.

- [ ] bolts
- [ ] chartboost
- [ ] fabric
- [x] facebook: Done. Needs testing. by @ericnond

[2016-07-12 11:19] florianf commented on #27
Bindings are done in the official repo!

[2016-07-12 11:19] #27 closed

[2016-07-22 10:23] blady214 opened #28 "FAILURE TEST: RoboVM libimobiledevice Bindings"
Hello once again,

I've tried to update RoboVM on my Mac but it didn't pass the test RoboVM libimobiledevice Bindings during installation. Below you will find the detailed error information:

[code]

[2016-07-22 10:42] Tom-Ski commented on #28
Please provide detail if you are reporting an issue. What are the exact steps to reproduce, what versions of tools and software are you using?

[2016-07-22 10:48] blady214 commented on #28
To reproduce the error just run build.sh script. I've got installed follwiong versions of tools:

- Java 1.8.0_91,
- Apache Maven 3.3.9
- CMake 3.5.2
- latest version of IntelliJ IDEA CE

[2016-07-25 09:04] blady214 commented on #28
Some more informations:
[code]

[2016-07-25 22:23] behrangsa commented on #14
I wish you could support OS X (macOS). It is a shame C# users can use Xamarin and Java developers have no options at their disposal for building native OS X apps using Java.

[2016-08-03 11:51] ACrsm opened #29 "libgdx 1.9.3 OSS RoboVM"
No bindings for the latest iOS versions?
which version does it not support?
Thanks!

[2016-08-03 12:18] MobiDevelop commented on #29
This is an issue tracker... Please ask questions on the libgdx forum, irc, or the gitter channel.

[2016-08-03 12:18] #29 closed

[2016-08-07 12:49] CoderBaron opened #30 "iOS 10 compatibility"
Do we know if RoboVM apps work on iOS 10 devices?

[2016-08-08 00:52] Tom-Ski commented on #30
Haven't personally tested, i will have to borrow a device.  Would be interested to see though, if anyone else can easily test that would be great.

[2016-08-08 01:00] Tom-Ski commented on #28
Thanks @blady214, we skip tests when building so don't tend to see this.  For this specific test I'm not entirely sure if there is additional setup that is required, nor do I know if this is actually something to worry about.  Seems to be just generic testing on the libimobiledevice tool, are you experiencing any problem with libimobiledevice outside of that test?

[2016-08-08 07:01] blady214 commented on #28
@Tom-Ski I don't have any problems with libimobiledevice. On the same machine I've got older version of your fork (2.0) and there everything worsk fine. Let me know when you will add this change and I could try to build without the tests,

[2016-08-08 08:48] florianf commented on #30
I tested it with the Simulator, but the ios-sim binary doesn't work with iOS 10. It's not possible to launch in the device. The error is: Failed to find class DTiPhoneSimulatorSystemRoot at runtime.

[2016-08-08 20:23] florianf commented on #30
After some digging, I found the issue with our ios-sim binary (https://github.com/robovm/ios-sim):
It seems that the class DTiPhoneSimulatorSystemRoot is gone in the newest XCode Framework.

The header isn't there anymore (it's still referenced by the members of DTiPhoneSimulatorSessionConfig, don't know how this works):
`./class-dump /Applications/Xcode-beta.app/Contents/SharedFrameworks/DVTiPhon

[2016-08-08 20:35] florianf commented on #30
Maybe we should migrate to this:
https://github.com/facebook/FBSimulatorControl

[2016-08-09 07:27] ACrsm opened #31 "IOS No Crash Log"
I create a ios game use libgdx 1.9.3 and MobiDevelop’s RoboVM.
I  install and test it by TestFlight.
But when my app crash, I could not find any crash log in my device. My ios version is 9.3.3.
Thanks!

[2016-08-09 13:24] Tom-Ski commented on #30
Looks promising, they have a nice cli tool bundled with also.

[2016-08-09 14:16] florianf commented on #30
@Tom-Ski currently ios10 isn't supported, I think we should re-evaluate when this issue is fixed: https://github.com/facebook/FBSimulatorControl/issues/273

[2016-08-10 05:23] jessechan007 opened #32 "build.sh issues"
Hi --

Beginner with robovm, here.  I tried following the instructions documented on https://github.com/mobidevelop/robovm.

I have the following dependencies:
JDK
Maven
CMake
Xcode and command line tools
Eclipse IDE for Java EE NEON

To build RoboVM locally, execute the build.sh script in the root folder. This will

Generate Maven artifacts into your local Maven repository
Put the IDEA plugin in

[2016-08-11 19:12] florianf commented on #32
It seems that the plugin/eclipse/ui pom.xml tries to load the wrong RoboVM version in it's dependencies. You could try to replace the ${robovm.version} placeholders with ${project.version} placeholders in the pom.xml. Or fill in the concrete version 2.2.0-SNAPSHOT instead of the placeholders if ${project.version} doesn't work.

[2016-08-16 13:49] CoderBaron commented on #30
I can now confirm that RoboVM apps work on iOS 10 devices. To be able to install/launch them [this](https://github.com/MobiDevelop/robovm/pull/34) PR is needed. Also you need to install Xcode-beta (use `xcode-select`) and run it at least once.

[2016-08-16 13:53] CoderBaron commented on #28
These tests are only entirely run if you have an iDevice attached. They should always succeed otherwise.
The failing tests could maybe also be fixed by this PR: https://github.com/MobiDevelop/robovm/pull/34

[2016-08-16 19:32] florianf commented on #28
@CoderBaron I can confirm, tests are not failing anymore without a device. 14 tests are correctly skipped.

[2016-08-16 19:33] florianf commented on #30
@CoderBaron Thanks a bunch, great work! Compiles perfectly, no we only need to get the simulator working!

[2016-08-16 19:33] #28 closed

[2016-08-16 20:43] MobiDevelop commented on #31
I'm afraid there really just isn't enough information here to do anything, so I'm going to close this.
If you can provide more information, will reopen if needed.

[2016-08-16 20:43] #31 closed

[2016-08-19 02:27] jessechan007 commented on #32
Get the latest Git snapshot (from today) and tried the ./build.sh.  Still running into errors.  Any ideas?

[INFO] --- exec-maven-plugin:1.5.0:exec (build-binaries) @ robovm-compiler ---
CMake Warning at CMakeLists.txt:91 (message):
  Failed to locate MacOSX SDK 10.12! Fallback to default version

CMake Error at CMakeLists.txt:94 (message):
  Failed to locate MacOSX SDK

-- Configuring incomplete,

[2016-08-19 15:34] intrigus commented on #32
Installing MacOSX SDK 10.12 should fix your problem.

[2016-08-19 16:54] jessechan007 commented on #32
Thank you so much!  I don't have 10.12 yet, so I went to the compiler/vm/CMakeLists.txt and changed the:
set(MACOSX_SDK_VERSION 10.12) to
set(MACOSX_SDK_VERSION 10.11)

Then went to root folder and executed ./build.sh and everything seemed to build.  Thank you so much!

[2016-08-19 17:14] MobiDevelop commented on #32
I thought the goal of the #35 was that it "should now always build, without needing to update this file [CMakeLists.txt]"?

[2016-08-19 17:58] jessechan007 commented on #32
Was I doing something wrong by just running ./build.sh without changing CMakeLists.txt?  As it was erroring out.  Is there some parameter I should be setting somewhere, so I don't have to edit CMakeLists.txt while still on 10.11?

[2016-08-19 18:28] MobiDevelop commented on #32
My understanding of that change was that it should fall back to a "default" if you don't have the defined sdk version - so I don't think you should have had to change it based on the PR description.

I have not successfully run build.sh since #35 and #34 have been merged, but I think that is because I don't have the xcode beta installed (on a related note - we probably should not be requiring that

[2016-08-19 21:36] florianf commented on #32
@MobiDevelop You're right, it's currently not possible to build the binaries without the Xcode-beta beeing installed. It seems that with the current stable XCode the SDK is located at /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/
whereas cmake looks in /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.s

[2016-08-21 14:39] CoderBaron commented on #32
Sorry, my bad. Both iPhoneOS and iPhoneSimulator have their SDKs stored in an .sdk folder without version number for quite a few Xcode versions (the .sdk folder with version number is just a symlink to the default folder, normally).
I thought this was the case for MacOS.sdk too, but nope; they introduced that only in the new Xcode beta versions.

[2016-08-21 14:51] CoderBaron opened #37 "Incorrect LineNumbers with try-with-resources"
I have created the default project and edited the `robovm.xml` to include `<useLineNumbers>true</useLineNumbers>`.
I also edited the `MyViewController` class and in the touch up inside listener I throw a `RuntimeException`.

The stack trace looks like this:

[code]

The only correct line number is `UIControl.java:108`.

Now I changed the `MyViewController` class and removed all code from the const

[2016-08-21 19:48] florianf commented on #37
Interesting. I just did the same as you:

1. Created a new RoboVM iOS Project
2. Commented out all code in the MyViewController constructor (also made the fields non final)
3. Inserted a throw new RuntimeException on the first line

I get the correct linenumbers:
`java.lang.RuntimeException: I should be on line 13
	at MyViewController.<init>(MyViewController.java:13)
	at IOSTest.didFinishLaunching

[2016-08-21 19:53] florianf commented on #37
If you want do dig deeper, the mechanism is fairly simple:

The ShadowFramesPlugin generates rvmPushShadowFrame IR instruction for every method call with the method's memory address.
For every line a rvmPushShadowFrameLinenumber instruction is inserted with the current line number.
The runtime code for the shadow frames is in shadowframes.c

[2016-08-21 19:56] intrigus commented on #37
The problem is probably retro lambda messing with the line numbers.

[2016-08-24 19:29] CoderBaron opened #39 "Update CocoaTouch for iOS 10"
iOS 10 brings some changes and additions. You can look at all changes here: https://developer.apple.com/library/prerelease/content/releasenotes/General/iOS10APIDiffs/

The most important for us are Foundation and UIKit changes. Probably UserNotifications also, I'm not sure if this is now the way to make push/local notifications.

I have created an PR for Foundation update. I will probably also loo

[2016-08-24 21:31] CoderBaron commented on #37
I tested with device and simulator, iOS 9 and iOS 10, Xcode beta and stable and it's always the same wrong line numbers.

My class looks as simple as this:

[code]
I'm using the latest stable IntelliJ IDEA plugin. I created an iOS device run configuration.

I really can't explain why it works for you @florianf, while it fails for me.
I'm not using retro lambda for this project (I just created the

[2016-08-26 19:24] florianf commented on #37
The only difference I see, is that I'm using eclipse, could you try this too?

If you're running RoboVM in the debugging mode (as described in the hacking guide) you could take a look at the .robovm/cache/ios/x86_64/debug/... LLVM IR files (MyViewController.ll) and check if the linenumbers are correctly set there.

F.ex. the IR for the constructor for me looks like this:

[code]

[2016-08-27 13:58] CoderBaron commented on #37
I can confirm that line numbers are correct when using Eclipse. I retried with IDEA with Gradle and without but in both cases line numbers where incorrect.

[2016-08-27 13:59] Tom-Ski commented on #37
Is that running from source or just with the eclipse plugin?

[2016-08-27 14:02] Tom-Ski commented on #37
Is that running from source or just with the eclipse plugin?

[2016-08-27 14:03] CoderBaron commented on #37
I just ran with the Eclipse plugin (Run As iOS Device App) -> Line numbers perfect. Run with IDEA plugin (iOS device run configuration) -> Line numbers partially wrong.

[2016-08-30 09:19] Tom-Ski commented on #39
That's great @CoderBaron! I didn't expect bro-gen to be resurrect-able, but I'm very glad you know whats up.  What are the consequences of updating? Is there a new minimum IOS version supported, or is everything backwards compatible?

[2016-08-30 09:22] Tom-Ski commented on #37
OK, something probably up with the IDEA artifact then, I've had some other reports regarding IDEA so that could be it.  I'll be able to test in a couple of days (getting a new dev environment setup) and I'll try to see whats going on on the IDEA end.  Could you send over the LLVM IR as @florianf said?

[2016-08-30 17:14] CoderBaron commented on #37
That's good to hear @Tom-Ski! It seems that ATM there's no way to put the IDEA plugin into debug mode and generate those files, only in Eclipse.

[2016-08-31 22:26] CoderBaron commented on #39
There are no consequences of updating because there are just additions, no changes or deletions. I just added instructions for the new ObjC classes to those configuration files and fired up bro-gen.

[2016-08-31 22:32] CoderBaron commented on #39
I almost forgot; there was one change that worried me a bit: ObjC class properties.
They were newly introduced in iOS 10 and replaced several class methods. I told bro-gen to bind these as `static` `@Property` methods. However, the JavaDoc of `@Property` says that they "cannot be static". But from my tests they do work without any issues.

If you want to test this out yourself, you can try with fo

[2016-08-31 23:15] CoderBaron commented on #37
I got I to work! Here are the contents of `MyViewController.class.ll`: http://pastebin.com/h09kBF10

The IR for the constructor looks exactly the same as the one @florianf posted.

[2016-09-02 17:47] Tom-Ski commented on #37
Did you try with the latest IDEA plugin snapshot?

[2016-09-03 20:19] #17 closed

[2016-09-04 22:19] CoderBaron commented on #37
I am already using the latest snapshot.

I have now created twice the same project, once with the old RoboVM and once with the fork.
These are the stack traces when building with IDEA:

Old RoboVM:
[code]

RoboVM Fork:
[code]

These are my findings:
* When using IntelliJ IDEA with the fork, the last line number is always 32.
* The line numbers for generated callback methods (like $cb$handleTouchEv

[2016-09-05 13:25] florianf commented on #37
That's weird. One last request (for now ;-): Could you try a simple RoboVM console project? Does it happen there too?
And with "old RoboVM" do you mean the latest official release? Because they used a completly different mechanism for generating the linenumbers (LLVM metadata).

[2016-09-05 18:57] florianf commented on #32
I'll close this for now, building seems to work now.

[2016-09-05 18:57] #32 closed

[2016-09-05 18:58] florianf commented on #15
I'll close this for now, for details check the [wiki](https://github.com/MobiDevelop/robovm/wiki/RoboPods-bindings-to-3rd-party-libraries)

[2016-09-05 18:58] #15 closed

[2016-09-06 12:06] CoderBaron commented on #37
Same problem with console but different line number:
[code]
Am I the only one having these line number issues on IDEA? Or can you also reproduce them?
But the stack trace from Eclipse you posted also has some wrong line numbers (IOSTest.java:30 should be 31; and UIApplication.java:365 should be something around 400...).

With "old RoboVM" I meant the latest official release. Yes, they used differe

[2016-09-06 12:17] florianf commented on #37
Thanks for your patience!

I didn't test with IDEA yet, because I haven't set it up on my Mac.That's why I was asking if the problem occurs also in a console project, than I can try on my Linux workstation with IDEA installed.

If you want to help further, you could try to debug the binary with LLDB, the whole stacktrace unwinding is done in C and completly debuggable with LLDB.

[2016-09-06 13:03] intrigus commented on #37
Console projects works fine here with latest plugin (org.robovm.idea-2.2.1-SNAPSHOT-plugin-dist.jar ) for IDEA 15 CE.
I'm using [this gist](https://gist.github.com/intrigus/723ac6dc66548a72efbb90d6f62786ca) for testing.
Linenumbers on iOS also don't work for me using [this gist](https://gist.github.com/intrigus/f60d12105e9f908666b79189520b8c10).
Can I also debug this binary via LLDB? If so, how?

[2016-09-06 13:28] florianf commented on #37
Yup debugging the simulator works too: http://stackoverflow.com/questions/10112164/terminal-command-line-debug-of-ios-simulator-apps
IIRC you need to specify the full name of the app, like "IOSTest.app" but I'm not sure anymore.

[2016-09-06 23:35] intrigus opened #43 ""Fake" line numbers although line numbers aren't enabled"
I'm getting line numbers although I didn't activate line numbers.
Stacktrace looks like this:
[code]

I think I know where the problem is and I will try fixing it tomorrow.

[2016-09-17 20:16] keesvandieren commented on #43
I see this too, for example:

        at com.badlogic.gdx.backends.iosrobovm.IOSApplication$Delegate.$cb$application$didFinishLaunchingWithOptions$(IOSApplication.java:41972648)
        at org.robovm.apple.uikit.UIApplication.main(UIApplication.java:41972648)
        at org.robovm.apple.uikit.UIApplication.main(UIApplication.java:41972648)
        at com.squins.tkl.ios.common.IosLauncher$Companion

[2016-09-18 16:38] tyrondis opened #44 "Xcode 8: Failed to find class DTiPhoneSimulatorSystemRoot at runtime"
After upgrading to Xcode 8, I am unable to launch the iOS Simulator through the RoboVM IntelliJ Plugin. I am getting the following error message:

    Failed to find class DTiPhoneSimulatorSystemRoot at runtime.

[2016-09-18 22:38] Tom-Ski commented on #43
closed via https://github.com/MobiDevelop/robovm/commit/054da9f69306368dc00b1223531dec643417748e

[2016-09-18 22:38] #43 closed

[2016-09-18 22:42] Tom-Ski commented on #37
Seems to be unrelated to IDEA (perhaps before the artifacts were no good) so I've changed the issue title.  Working on trying to get try-with-resources running happily.

[2016-09-19 06:11] florianf commented on #44
This should be already fixed in the current master. Give it a spin and tell us if it works for you.

[2016-09-19 06:17] florianf commented on #30
Simulator works now, so closing this.

[2016-09-19 06:17] #30 closed

[2016-09-19 06:45] intrigus commented on #43
It should be '-1' so it shows no line numbers.
It should look like this imo:
''''java
  at com.badlogic.gdx.backends.iosrobovm.IOSApplication$Delegate.$cb$application$didFinishLaunchingWithOptions$(IOSApplication.java)
    at org.robovm.apple.uikit.UIApplication.main(UIApplication.java)
    at org.robovm.apple.uikit.UIApplication.main(UIApplication.java)
    at com.squins.tkl.ios.common.IosLaunche

[2016-09-19 10:46] iAlbi93 commented on #44
Hello! Still getting the error :-(

[2016-09-19 11:05] florianf commented on #44
@iAlbi93 did you compile and install it directly from the current git source? Because the latest Snapshot-Build under http://robovm.mobidevelop.com/downloads/snapshots/idea/ is from 13. september and the fix landed two days ago.
@Tom-Ski  Could you update the Snapshot Builds for IDEA and Eclipse?

[2016-09-19 14:05] iAlbi93 commented on #44
@florianf no I didn't. Thank you I'll try. :-)

[2016-09-19 14:22] MobiDevelop commented on #44
@florianf I'll update all the snapshots today.

[2016-09-19 15:11] MobiDevelop commented on #44
OK, should all be updated now. Please try again.

[2016-09-19 15:13] StefanOltmann opened #45 "Support for <stripArchives> (RoboVM 1.11)"
Please implement support for the 'stripArchives' tag in _robovm.xml_:
http://docs.robovm.com/configuration.html#striparchives

https://groups.google.com/forum/#!topic/robovm/fE_ixkLIuCc

I think this feature is mission critical for most apps as many libs come
with unnecessary ressources and this option decreased the app size.

[2016-09-19 16:02] iAlbi93 commented on #44
OK it's working fine :-)

[2016-09-19 16:10] florianf commented on #44
Nice, thanks for reporting back!

[2016-09-19 16:10] #44 closed

[2016-09-19 17:59] florianf commented on #45
Hi Stefan,
thanks for the report. This would be rather straight forward to implement, do you want to give it a try?

The method for stripping jars is located here:
https://github.com/MobiDevelop/robovm/blob/master/compiler/compiler/src/main/java/org/robovm/compiler/target/AbstractTarget.java#L514

The Config class to which the robovm.xml is mapped is located here:
https://github.com/MobiDevelop/ro

[2016-09-19 18:06] florianf commented on #39
Closing this for now, since it seems to work.

[2016-09-19 18:06] #39 closed

[2016-09-19 18:19] jessechan007 opened #46 "Netbeans Plugin"
Anyone chance someone will create a Netbeans plugin?

[2016-09-19 18:22] MobiDevelop commented on #46
It's unlikely, but if some adventurous Netbeans user wanted to take a shot at creating one, I am sure we'd consider accepting a contribution.

[2016-09-20 05:02] ashleyj opened #47 "Add copyright to new files"
Can you please add copyright headers to new files in MobiDevelop Robovm?

Ones that I've noticed (there may be more):
ShadowFramePlugin.java
shadowframes.c

[2016-09-20 11:36] florianf commented on #47
@MobiDevelop , @Tom-Ski ashleyj is right, we should add a header for the new stuff. What do you think? Something like libgdx, we would need to add an AUTHORS file to the repo:

[code]

[2016-09-20 12:27] Tom-Ski commented on #47
Yup, lets do that.

[2016-09-21 07:12] StefanOltmann opened #48 "Maven build with build.sh failed"
I tried to build the current version of robovm, but by executing build.sh I get this error:

clang: error: invalid argument '-mmacosx-version-min=10.11' not allowed with '-miphoneos-version-min=7.0'

My system is OS X El Capitan 10.11.6.

Please see the full log here:
[full_log.txt](https://github.com/MobiDevelop/robovm/files/484330/full_log.txt)

[2016-09-21 08:44] florianf commented on #48
Can confirm this bug. It seems to happen when we build the vm for iOS devices. It seems that the C_CXX_FLAG --mmacosx-version-min is also passed when building for iOS. To re-produce just execute ./build.sh --build=debug --target=ios-thumbv7 in the vm dir.

@Tom-Ski , @MobiDevelop  Can you take a look at it, I'm out of ideas where this flag comes from.

[2016-09-21 09:13] florianf commented on #48
Also cc'ing @CoderBaron

[2016-09-21 12:40] dcbro155 opened #49 "IOS 10 + Google admob 7.11 = Build failed"
Hello fellow devs,

First thanks for all the work done. I have never had the occasion to thank you, and I wanted to for quite some time, so here it is.

I am using 2.2.1-SNAPSHOT for IOS10 compatibility and Google-mobile-ads robopod 1.14.0, which worked until now.

My compiled IPA however was not accepted by Apple for a couple reasons

I'm not alone
[https://forums.developer.apple.com/thread/62229

[2016-09-21 13:09] florianf commented on #49
Hi,
thanks for the thank you ;-)

The old official RoboVM Robopods aren't supported anymore. Please try the forked Robopods, for some more info look here https://github.com/MobiDevelop/robovm-robopods/issues/1 and here https://github.com/MobiDevelop/robovm/wiki/RoboPods-bindings-to-3rd-party-libraries.

[2016-09-21 13:11] MobiDevelop commented on #48
Build seems to be working fine for me...

[2016-09-21 13:12] florianf commented on #37
I just commited a fix as discussed on gitter yesterday. Please give it a spin and report back.

[2016-09-21 13:23] #47 closed

[2016-09-21 14:06] florianf commented on #48
I'm building against 10

[2016-09-21 14:10] StefanOltmann commented on #48
Same here. I'm using the latest version of XCode and iOS SDK.

[2016-09-21 14:10] MobiDevelop commented on #48
As am I.

[2016-09-21 14:36] Tom-Ski commented on #48
Can someone post their log for ` ./build.sh --build=debug --target=ios-thumbv7`

[2016-09-21 14:46] MobiDevelop commented on #48
Sure, here it is - I added a `--clean` as well:

https://gist.github.com/MobiDevelop/347461a785501e629f8d5d9a96aaa2ea

[2016-09-21 15:17] MobiDevelop commented on #48
From the log, it seems that it is during the "test" phase that it is failing.

[2016-09-21 16:35] florianf commented on #49
From the error you could also try to add GLKit to your frameworks section in robovm.xml.

[2016-09-21 16:42] dcbro155 commented on #49
Wow I didn't know the robopods fork was alive. So I tried exactly as the linked issue you gave and fiddled a little bit further, including GLKit. With some other added frameworks, seems to work fine after all ! Thanks ! I guess you can close this issue right away.

[2016-09-21 18:25] EmmettGGI commented on #30
How do we install that PR?

[2016-09-22 01:25] jessechan007 opened #50 "Eclipse Plugin Simulator Issues"
Hi --

Using the latest Eclipse plugin snapshot URL for Eclipse, I am able to run my X app as "iOS Simulator App (iPad)", but when I run as "iOS Simulator App (iPhone)" the X app seems to attempt to run but crashes.

The Eclipse console displays this error:

Failed to launch application. Error Domain=FBSOpenApplicationServiceErrorDomain Code=1 "The request to open "X" failed." UserInfo={NSLocalize

[2016-09-22 07:17] iAlbi93 commented on #50
Do you choose the correct architecture (32-64 bit)? :-)

[2016-09-22 07:38] jessechan007 commented on #50
It seems to be automatically is at iOS x86_64 or -arch x86_64 for both the iPad and iPhone in the simulator on my machine when Run As iOS Simulator App (iPad) or (iPhone); but only the iPhone simulator option seems to fail when launching the app.

[2016-09-22 13:45] EmmettGGI commented on #44
Using the latest snapshot with eclipse I am still getting this error

[2016-09-22 13:51] #49 closed

[2016-09-22 18:06] Tom-Ski commented on #44
Latest snapshot of the eclipse plugin? If so, from where?

[2016-09-22 18:08] EmmettGGI commented on #44
@Tom-Ski I just updated my build file to use robovm 2.2.1-SNAPSHOT

[2016-09-22 18:35] Tom-Ski commented on #44
You need to update your eclipse robovm plugin to the latest version too.  If you build with gradle, make sure that is also on the new version.

[2016-09-23 10:03] florianf commented on #48
It looks like this is a bug in CMAKE. It seems that somehow CMAKE doesn't like the latest SDKs and wrongly sets the CMAKE_OSX_DEPLOYMENT_TARGET variable and this triggers the setting of -mmacosx-version-min, according to https://cmake.org/cmake/help/v3.6/variable/CMAKE_OSX_DEPLOYMENT_TARGET.html

[2016-09-23 11:02] CoderBaron commented on #48
Build works fine for me. Also tried `./build.sh --build=debug --target=ios-thumbv7 --clean` without issue. Using all the latest versions including cmake 3.6.2.

[2016-09-23 11:36] florianf commented on #48
@StefanOltmann, @Tom-Ski, @MobiDevelop Could you please try a clean build again? It seems to be building for me with the applied fix, but I also built CMAKE from the latest master.

[2016-09-23 12:47] MobiDevelop commented on #48
Seems to be OK for me now - I guess I have CMAKE 3.5.2.

[2016-09-23 15:45] StefanOltmann commented on #45
Yes, I want to give it a try. :-)

[2016-09-24 09:18] Tom-Ski commented on #48
Yup, still builds fine for me.

[2016-09-24 17:40] #48 closed

[2016-09-24 17:40] florianf commented on #45
Great, just ask if you need some help.

[2016-09-24 17:43] florianf commented on #50
Looks like a exception on the native side when launching. You could try to reset or create a completely new simulator image. Go with the latest SDK for iOS 10 and 64bit.

[2016-09-25 11:11] MikeCarrell opened #51 "Issue with ios-sim using Xcode 8.0"
Hi. I'm a robovm user in the UK. Just upgraded to Xcode 8. I've taken a look at issue #30 and see, very helpfully, that someone has taken a look at libimobiledevice. Thank you! What about the iso-sim issue - I am also getting the following "Failed to find class DTiPhoneSimulatorSystemRoot at runtime". Has someone found a fix for this?  Many thanks. Mike C.

[2016-09-25 16:31] florianf commented on #51
Please install latest snapshot which is compatible to xcode 8.

[2016-09-25 16:31] #51 closed

[2016-09-25 16:51] florianf commented on #51
For details please take a look at this wiki article: https://github.com/MobiDevelop/robovm/wiki/iOS-10-and-XCode-8-compatibility

[2016-09-26 09:38] MikeCarrell commented on #51
Thank you !

[2016-09-27 08:58] StefanOltmann opened #52 "Eclipse Plugin: Build for Eclipse Luna (2014) instead of Eclipse Indigo (2011)"
When I try to build the eclipse plugin I get timeouts because the download page for Eclipse Indigo (2011) seems to be shut down. Even in my Eclipse I can't reach that site.

[log.txt](https://github.com/MobiDevelop/robovm/files/494993/log.txt)

The Eclipse Luna (2014) update site (http://download.eclipse.org/releases/luna) is still reachable.

Can we set Eclipse Luna as the minimal target for the

[2016-09-27 10:27] kirillp commented on #45
please add .java to default strip list

[2016-09-27 11:51] apprme opened #53 "Exception when saving run configuration in intellij idea"
IntelliJ IDEA 2016.2.4, org.robovm.idea-2.2.1-SNAPSHOT-plugin-dist.jar

[code]

[2016-09-27 13:18] Tom-Ski commented on #50
Should be resolved in the latest snapshot.

[2016-09-27 13:18] #50 closed

[2016-09-27 14:58] florianf commented on #52
Seems reasonable, I'll update the pom.xml.

[2016-09-27 15:10] MobiDevelop commented on #52
Doesn't seem to be shut down from here...

[2016-09-27 19:48] florianf commented on #52
Works for me too. Let's stick with indigo as long as it works, no need to build against a newer eclipse.

[2016-09-27 19:48] #52 closed

[2016-09-28 07:29] StefanOltmann commented on #52
Strange. My location is Oldenburg in Germany and from here it does not work. But even Luna is pretty slow with 10 kb/s. Maybe it's just temporary or a issue on my site.

[2016-09-28 14:13] StefanOltmann opened #54 "Improve performance when generating line numbers"
Since iOS 10 is released the original RoboVM 1.14 suddenly stopped working for me on both iOS 9 and iOS 10 devices with the LOCKDOWN_E_INVALID_HOST_ID error.  I changed to MobiDevelop RoboVM 2.2.0 because of the bugfix for that problem.

It seems that I didn't had to clear the cache under ~./robovm/cache before I tested my patch for #45, because until then I did not notice that a specific heavy op

[2016-09-28 14:29] Tom-Ski commented on #54
Please supply the operation and benchmark you are testing, and use 2.2.1-SNAPSHOT.  You can also try recompiling with useLineNumbers off.

[2016-09-28 14:31] StefanOltmann commented on #54
Okay, the problem is that I'm stupid: I tried the useLineNumbers before, but did not recompile the whole thing. Seemingly only a part of that was recompiled. With explicit removed ~/.robovm/cache and eclipse restart I'm back to the old performance.

So the problem is that the new line number implementation is too slow.

[2016-09-28 14:36] Tom-Ski commented on #54
There have been a few changes since 2.2.0, so its important we use the snapshot to test.  There is definitely room for improvement performance wise, but getting it functioning is more of a priority at the moment. There are one or two edge case problems to resolve, then we can work on the performance.

Thanks for the report, I'll mark it as an enhancement.

[2016-09-28 14:51] EmmettGGI commented on #50
I am still having this issue with the latest eclipse plugin snapshot.

[2016-09-28 14:59] StefanOltmann commented on #54
I suggest to warn on the wiki page which says there is a "slight runtime and compile time performance penalty" that at this time the performance penalty is pretty heavy. This sentence mislead me to not look at that as the first thing.

[2016-09-28 15:28] florianf commented on #50
@EmmettGGI Did you try reset your simulator or create a completly new one? Which OS version did you try? Does a simple iOS template app work?

[2016-09-28 15:32] florianf commented on #54
@StefanOltmann Just for clarity: The runtime performance is slow when generating line numbers, not the compile time performance? Because the latter would be strange, because the compile time should be roughly the same.

[2016-09-28 16:40] EmmettGGI commented on #50
@florianf I tried resetting the simulator and no help. Was trying on IOS 10. For the template do you want me to run just an Xcode template or a sample libgdx program through roboVM?

[2016-09-29 08:16] blady214 opened #55 "IntelliJ crashes after RoboVM build"
Hello again,

I've installed the latest version of RoboVM and I've tried to run my application on iPhone. Whether I choose debug or run configuration IntelliJ Idea crashes after complete RoboVM build but before installation on the device.
#### Issue details

_Please provide the details of your issue_
#### Reproduction steps/code

_Please provide detailed step by step instructions that will reprodu

[2016-09-29 10:39] StefanOltmann commented on #45
I created a pull request #56 for a implementation that works pretty well for me. But there may be room for improvement with the regex replaces.

[2016-09-29 20:15] florianf commented on #50
Just a stock new RoboVM application from eclipse.

[2016-10-02 08:03] TaiVuong opened #57 "Can not build robovm plugin."
cmd "./build.sh"  -> BUILD FAILURE
Test devides:
osx: 10.11.6; 10.12
xcode: 8, 8.1 beta
java 1.8.101

how to enable this:
[code]
[code]

[2016-10-02 17:26] #57 closed

[2016-10-03 06:44] tianqiujie opened #59 "Can not launch ios simulator in libgdx 1.9.5"
Eve:
classpath 'com.mobidevelop.robovm:robovm-gradle-plugin:2.2.0'
gdxVersion = '1.9.5-SNAPSHOT'
roboVMVersion = '2.2.0'

[ERROR] Couldn't start application
java.lang.NullPointerException
	at org.robovm.compiler.target.ios.IOSTarget.createIOSSimLauncher(IOSTarget.java:163)
	at org.robovm.compiler.target.ios.IOSTarget.createLauncher(IOSTarget.java:148)
	at org.robovm.compiler.target.AbstractTarget.

[2016-10-03 08:51] TaiVuong opened #60 "Request Updates"
IDE force close when start copy resource to device. I have tried to fix it for more than 30 days and now it work when i clone robovm plugin and update all plugin (**java**, maven, eclipse neon) and build

Test project: create new project with robovm plugin
IDE: eclipse neon, mar, Android Studio --> same
gradle: 2.10, 2.14, 3.0, 3.1 -->same
OSX: buy new ssd install osx 10.11.6 --> same problem -->

[2016-10-03 08:53] Tom-Ski commented on #59
Should be resolved in 2.2.1-SNAPSHOT

[2016-10-03 08:53] #59 closed

[2016-10-03 08:55] Tom-Ski commented on #60
What does java 1.7 have to do with anything?  Please fill in the issue template completely, including step by step instructions to reproduce this issue. You should also have crash logs from idea if it is crashing.

[2016-10-03 08:58] Tom-Ski commented on #55
Can you run on the simulators ok?

[2016-10-03 08:59] Tom-Ski commented on #60
Probably duplicate of #55

[2016-10-03 09:31] TaiVuong commented on #60
wishing i can give u stacktrace 30 days ago but it force close after finish signing and **start copy resource to device** . I'll test new plugin with other project  and add more info as soon as.

[2016-10-03 10:58] josemwarrior commented on #30
How do we install that PR?

[2016-10-03 11:07] blady214 commented on #55
@Tom-Ski I've check it and I could confirm that app runs properly on iOS simulator.

[2016-10-03 11:54] Tom-Ski commented on #55
Thanks, I've given the latest version a go on a 9.3 iPhone 4s and its fine for me.  The snapshot artifact may be dodgey, I'll give it a go in a bit.

Could you try running with a basic iOS application, rather than your application, and provide details as to your run configuration settings.

[2016-10-03 12:37] blady214 commented on #55
I could do it a bit later. What exactly information do you need?

[2016-10-03 13:19] Tom-Ski commented on #55
If you could post the crash log, and the robovm log in IDEA to see where it gets up to.  Asa far as the run config settings, just the arch for device.

[2016-10-03 14:30] blady214 commented on #55
Where I can find the crash log? Everything what I get from InteliiJ Idea is in this topic. The robovm-build\logs dir is empty. Below you will find few last lines of build log from RoboVM console, when last command is executing IntelliJ crashes:

[code]
Already I am running RoboVM on virtual machine with 8 GB RAM, 4 cores. Let me know if you will need more information.

[2016-10-03 14:47] Tom-Ski commented on #55
And is that the basic application?

[2016-10-03 16:16] EmmettGGI commented on #50
@florianf sorry for the late response. even with a stock new RoboVM iOS application I am still getting the same error.

[2016-10-03 18:29] blady214 commented on #55
No, this is my application. The basic application I will try tomorrow.

[2016-10-03 18:39] EmmettGGI commented on #50
@florianf Just an update the test project works fine on the iPad Air but I get the original issue when trying to use the iPhone simulator.

[2016-10-03 18:55] EmmettGGI commented on #50
Last update. I had this issue testing with IOS10 on the iPhone 5 but when I switch to iPhone 7 I no longer get this error!

[2016-10-03 19:41] StefanOltmann commented on #45
Can be closed now.

[2016-10-03 20:21] EmmettGGI opened #61 "CLLocationManager no longer working."
#### Issue details
My code for getting the longitude and latitude of the device worked fine in IOS 9, but seems to have broke with IOS 10. I have tried multiple different setups using CLLocationManager and still get the same error. Requesting to use the device's location works fine but the error is thrown when the location tries to update. I also find it strange that no line numbers were given in

[2016-10-03 21:00] intrigus commented on #61
A http://www.sscce.org would be nice.

[2016-10-03 21:56] #45 closed

[2016-10-03 23:44] EmmettGGI commented on #61
@intrigus I attached relative snippets of my personal IOSLauncher code should help. Thanks in advance.

[2016-10-04 07:01] blady214 commented on #55
@Tom-Ski I've checked the simple application and the IntelliJ crashes in the same way.

[2016-10-04 07:03] Tom-Ski commented on #55
@blady214 have you tried either with gradle on the command line?

[2016-10-04 07:07] blady214 commented on #55
The simple project was build by Gradle, my project is build by commandline.

[2016-10-04 07:07] Tom-Ski commented on #55
Intellij shouldn't crash if you are building with gradle on the command line.

[2016-10-04 07:09] blady214 commented on #55
Sorry, my bad. I mean that I am building the app without Gradle or Maven but still in IntelliJ. It looks like build method has no impact on the build result.

[2016-10-04 07:10] Tom-Ski commented on #55
Right, could you try pushing to your device by running via gradle on the command line outside of idea?

[2016-10-04 07:12] blady214 commented on #55
OK, I will try.

[2016-10-04 07:24] blady214 commented on #55
I am able to build simple application with Gradle:
[code]
but I'm not sure how to install the app on device using RoboVM. If I will try to run following command: ` /Users/Grzegorz/.robovm-sdks/robovm-2.2.1-SNAPSHOT/bin/robovm -config robovm.xml -arch thumbv7 -run com.rvm.simpletest.Main`

I get: `/Users/Grzegorz/.robovm-sdks/robovm-2.2.1-SNAPSHOT/bin/robovm -config robovm.xml -arch thumbv7 -run co

[2016-10-04 07:25] Tom-Ski commented on #55
`./gradlew launchIOSDevice`

[2016-10-04 07:45] blady214 commented on #55
It looks like the build stucks:
`:launchIOSDevice
RoboVM has detected that you are running on a slow HDD. Please consider mounting a RAM disk.
To create a 2GB RAM disk, run this in your terminal:
SIZE=2048 ; diskutil erasevolume HFS+ 'RoboVM RAM Disk' `hdiutil attach -nomount ram://$((SIZE * 2048))`
See http://docs.robovm.com/ for more info
Classpath entry /Users/Grzegorz/Documents/SimpleTest/buil

[2016-10-04 07:46] blady214 commented on #55
I am also unable to install the app on device using gradle. Below build log:
`:launchIOSDevice
RoboVM has detected that you are running on a slow HDD. Please consider mounting a RAM disk.
To create a 2GB RAM disk, run this in your terminal:
SIZE=2048 ; diskutil erasevolume HFS+ 'RoboVM RAM Disk' `hdiutil attach -nomount ram://$((SIZE * 2048))`
See http://docs.robovm.com/ for more info
Classpath en

[2016-10-04 12:10] Tom-Ski commented on #61
You posted on stack overflow with a different code sample. Please make sure the stack trace corresponds with the actual code sample you have posted.  The only way a NPE will occur in the sample you posted here is if locationMeasurements was null, which it isn't.

[2016-10-04 12:35] EmmettGGI commented on #61
@Tom-Ski Same error with both code samples. The sample I posted here is my current code. That is what led me to believe something was wrong with the CLLocationManager and not my code because I don't see how anything could be null. Also do you know the reason there are no line numbers in the stacktrace? I will look into it more today and let you know if I figure out anything else. Thanks for the he

[2016-10-04 13:41] Tom-Ski commented on #61
I've tested a sample application that uses CLLocationManager and I dont have any issues there.  Pleas read the link @intrigus posted for help as to what code you should supply to help us help you.

You can enable line numbers in the robovm.xml by adding <UseLineNumbers>true</useLineNumbers>, it is fairly expensive at compile time and runtime, so you don't want to be using it in production at the m

[2016-10-04 14:11] teras opened #62 "Unable to compile under Mac OS X 10.12"
Please ensure you have given all the following requested information in your report.

#### Issue details
It is not possible to compile mobidevelop from scratch on a macOS 10.12 machine

#### Reproduction steps/code

Cloning this repository and typing `./build.sh`

#### Configuration

Mac OS X 10.12, Xcode 8.0

**Build Tools:**
- [ ] IDEA plugin
- [ ] Eclipse plugin
- [ ] Gradle plugin

**Versions:

[2016-10-04 14:17] Tom-Ski commented on #62
Are you working behind a proxy or some firewall that could be potentially blocking maven snapshots?

[2016-10-04 14:53] teras commented on #62
No...
I think these files really do not exist

[2016-10-04 15:13] Tom-Ski commented on #62
They are there, check yourself in the repository.

[2016-10-04 15:56] EmmettGGI commented on #61
Found the error thanks for the help locationMeasurements was somehow null.

[2016-10-04 15:57] #61 closed

[2016-10-04 15:58] Tom-Ski commented on #61
Ah, in that case the gc was probably gobbling it up.

[2016-10-04 16:09] teras commented on #62
Indeed for some strange reason, when I removed everything and started from scratch, it went smoothly then.

[2016-10-04 16:09] #62 closed

[2016-10-05 15:30] intrigus commented on #55
Could you please upload `/Users/Grzegorz/Documents/SimpleTest/hs_err_pid439.log` somewhere?

[2016-10-05 17:51] blady214 commented on #55
@intrigus yes, here it is: http://pastebin.com/CDjTWnTK

[2016-10-05 18:00] intrigus commented on #55
Have a look at https://software.intel.com/en-us/forums/multi-os-engine/topic/646497 which seems to be related.

[2016-10-06 09:14] blady214 commented on #55
@intrigus yes, the issues are looking similar to mine but already it is still unresolved. I could try to use the libgdx from the topic and install other dependencies. such as OpenSSL. If I understand it well the problem is connected with debugger. Is it possible to disable debugger?

[2016-10-06 14:13] ericnondahl opened #63 "Facebook SDK architecture not found"
#### Issue details
Facebook SDK binaries including and later than 4.15.1 throw "framework not found for architecture" after linking the SDK. Seems like Facebook changed something in their SDK binaries which breaks ld when using the framework with RoboVM. Facebook SDKs prior to 4.15.1 seem to link just fine.

#### Reproduction steps/code

Basic Sample libgdx app with iOS SDK 4.16.0 linked: (300mb)

[2016-10-06 15:34] Tom-Ski commented on #63
This looks to be a configuration issue, running the facebook bindings against 4.16.0 runs fine on x86_64 sim.  I don't use the facebook sdk personally, but the libraries you have linked look a little on the short side, at a brief view of the docs they seem to want quite a lot of other frameworks.

Perhaps give the official binding a go, and slap in the frameworks required as the robopod documentat

[2016-10-06 18:23] ericnondahl commented on #63
Importing the full framework folder using the <frameworkPaths> syntax like this:

<frameworkPaths>
  <path>lib/frameworks</path>
</frameworkPaths>

Seems to solve this issue. We were previously manually copying the .a files and referencing them as <libs> which seems to be causing issues.

[2016-10-06 18:23] #63 closed

[2016-10-07 16:26] florianf commented on #30
Install the Plugin snapshot, take a look at: https://github.com/MobiDevelop/robovm/wiki/iOS-10-and-XCode-8-compatibility

[2016-10-08 05:48] TaiVuong commented on #60
**Gradle error log:**
[code]
**debug log:**
[code]

[2016-10-08 05:52] TaiVuong commented on #60
i changed this file https://github.com/MobiDevelop/robovm/blob/master/compiler/pom.xml
build --> fixed
[code]

[2016-10-10 09:01] blady214 commented on #55
@intrigus I've installed OpenSSL and ideviceinstaller as it was mentioned in: https://software.intel.com/en-us/forums/multi-os-engine/topic/646497. I am able to install app using ideviceinstaller and then I can run it manually, I didn't install libimobiledevice with MOE patches.

[2016-10-11 14:34] blady214 opened #64 "How to run iOS 9.3 simulator?"
Hello,

is it possible to run RoboVM application on iOS 9.3 simulator with 2.2.1-SNAPSHOT? I've downloaded through XCode iOS 9.3 simulator and I could run apps on this simulator directly from XCode. When I go to the IntelliJ I can't create run configration with this simulator version. There are only iOS 10 simulators.

How to add support of iOS 9.3 simulator, if it is possible?
#### Configuration

[2016-10-12 02:56] vnshine commented on #55
@blady214  i got same problem when run robovm on Eclipse have you solved this problem

[2016-10-12 02:59] vnshine opened #65 "how to build Robovm on Ios Device"
I am using Eclipse Mars 1

**Build Tools:**
- [ ] IDEA plugin
- [X] Eclipse plugin
- [ ] Gradle plugin

**Versions:**

_Please provide the version of RoboVM, XCode and JDK used_
- Robovm: 2.2.1-SNAPSHOT
- XCode:7.3
- JDK:1.8

**Build Targets:**

 iPhone 6 device 32bit_

---

#### Stacktrace
[code]

[2016-10-12 06:49] blady214 commented on #55
@vnshine no, it is still unresolved. Already I am building IPA file and installing it on the device using ideviceinstaller.

[2016-10-12 15:01] florianf commented on #65
Hi, without a stacktrace we can't help you. I don't think that the current SNAPSHOT plugin supports eclipse mars, you either need to go back to an older eclipse version or build from current source.

[2016-10-12 15:12] florianf commented on #64
I can confirm this bug. Something seems to be wrong when parsing the json output of xcrun simctl. I'll take a look at it.

[2016-10-12 15:13] florianf commented on #55
@CoderBaron can you take a look at this?

[2016-10-12 18:11] intrigus commented on #65
Could be the same as #55.
And the plugin works fine here with Eclipse Mars.

[2016-10-12 18:26] florianf commented on #64
The JSON parsing seems to be ok, but you need the 9.3 SDK for launching 9.3 simulators with RoboVM - I didn't know that.

Run the following command, and look if you have the 9.3 SDK installed.
[code]
For further info check this thread:
http://stackoverflow.com/questions/37838406/xcode-8-with-older-base-sdk

@MobiDevelop Can you confirm this? Looking at the history, it seems like this was always th

[2016-10-12 18:34] florianf commented on #55
Also CC'ing @xoppa . Any idea, seems to happen quite frequently?

[2016-10-12 20:18] intrigus commented on #55
Could you please run `sysctl -a | grep machdep.cpu` @blady214 or @vnshine and post the output/upload to gist.github.com or pastebin.com ?

[2016-10-13 03:59] yujinfu opened #66 "Can't handle single and double quotes in same argument"
Hi, I use robovm eclipse plugin which version is 2.2.1 snapshot (not gradle)
when I run application to IOS device , it told me that: Can't handle single and double quotes in same argument.
What happen? could you please help me? Thanks very much.

**Build Tools:**
- [ ] IDEA plugin
- [ \* ] Eclipse plugin
- [ ] Gradle plugin

**Versions:**

_Please provide the version of RoboVM, XCode and JDK used_

[2016-10-13 07:28] blady214 commented on #55
@intrigus result of command from my machine: https://gist.github.com/blady214/fc2bf2a2cf429032d39aaccb84d4c0dd

[2016-10-13 09:00] blady214 commented on #64
@florianf you're right. I've copied the SDK from previos Xcode version and it seems that I am able to create iOS 9.3 simulator. Thanks!

[2016-10-13 10:15] blady214 commented on #64
There is still something wrong. I've copied the SDK files and changed _MinimumSDKVersion_ in _Info.plist_ file what was mentioned here: http://stackoverflow.com/questions/37838406/xcode-8-with-older-base-sdk but I get in console:

`2016-10-13 12:01:56.327 simlauncher[594:10199] [MT] DVTSDK: Skipped SDK /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPh

[2016-10-14 07:44] blady214 commented on #64
Today I get another error when I try to run the application in iOS 9.3 simulator:

[code]
I haven't change antything in configuration since yesterday.

[2016-10-14 12:41] blady214 commented on #64
I don't know why and how but iOS 9.3 SDK has been removed from my Xcode. I've copied it again and after IntelliJ restart everything starts to work but following message still occurrs:
`2016-10-14 14:37:06.237 simlauncher[3033:84990] [MT] DVTSDK: Skipped SDK /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator9.3.sdk; its version (9.3) is belo

[2016-10-14 18:26] jessechan007 opened #67 "Eclipse Plugin broken after latest robovm snapshot"
#### Issue details
Hi, after using the link http://robovm.mobidevelop.com/downloads/snapshots/eclipse/ for installing the robovm Eclipse plugin, it seems the Eclipse plugin is broken for version 2.2.1.201610101452.

I tried reinstalling the latest Eclipse JEE Neon and then installing the plugin also with the same error.

This is the error in Eclipse installing software has encountered a problem de

[2016-10-15 16:15] florianf commented on #67
@Mobidevelop can you take a look at this?

[2016-10-15 19:41] MobiDevelop commented on #67
Sure, I'll build and redeploy today.

[2016-10-15 22:13] MobiDevelop commented on #67
Should be good now.

[2016-10-15 22:13] #67 closed

[2016-10-15 22:57] intrigus commented on #55
I think that this issue occurs, because libimobiledevice statically links to OpenSSL which contains AVX instructions which are illegal on older CPUs and thus make it crash.

So we could either:
- link dynamically against OpenSSL (Why are we linking statically in the first place)
- link statically against OpenSSL but compile OpenSSL without AVX support

@Tomksi, @xoppa

[2016-10-16 05:01] jessechan007 commented on #67
Seems to be working now.  Thank you, so much!

[2016-10-16 18:43] florianf commented on #55
Thanks for your investigations! @Tom-Ski, @xoppa could you try to rebuild it, or explain why we're linking statically now?

[2016-10-16 20:19] florianf commented on #55
@blady214 setting your OPENSSL_ia32cap env variable according to this documentation should fix your problem https://www.openssl.org/docs/manmaster/crypto/OPENSSL_ia32cap.html
Try to disable all AVX extensions.

[2016-10-17 07:39] blady214 commented on #55
@florianf could you tell me how to calculate proper bit value to disable AVX extension because in this docs it is not claerly explained and I can't find any other articles.

[2016-10-17 08:10] florianf commented on #55
@blady214 Sorry I don't have any further infos or experience. The only thing I know, this needs to be set before launching eclipse/idea/gradle to build the app. @MobiDevelop maybe has some more info?

[2016-10-18 09:37] yujinfu opened #68 "ios 10.0.2 crash when lanuching"
Hi I run my robovm project in ios 10.0.2 but it crash when lanuching,
the crash log copy from XCode Window->Devices ：

Incident Identifier: 401E7FDB-D2A7-4D3C-B818-F1AC790E1C9C
CrashReporter Key:   3074bf20b4ef3ccb15c8d8149b742c9000e529a9
Hardware Model:      iPhone6,2
Process:             MagicBox [4077]
Path:                /private/var/containers/Bundle/Application/77FFB7CE-42B1-47B8-A629-DCF1C

[2016-10-18 09:41] Tom-Ski commented on #68
CRASHING_DUE_TO_PRIVACY_VIOLATION, indicates you are trying to use something without the correct approval.

Without a code sample that reproduces this issue, we can't help you further than that.

[2016-10-18 09:41] #68 closed

[2016-10-18 09:43] Tom-Ski commented on #66
Please post the full error log, and at least provide the full steps to reproduce the issue. Its likely that your robovm.xml may be invalid as the message you get states, but difficult to say where it comes from without a log.

[2016-10-18 09:44] Tom-Ski commented on #65
Closing due to duplicate issue, see #55

[2016-10-18 09:44] #65 closed

[2016-10-18 10:38] blady214 commented on #55
I am not sure if I set up it correctly by following command:` env OPENSSL_ia32cap="~0100000000000000"` but the result is still the same.

[2016-10-18 10:54] vutunglinh opened #69 "Robovm-robopods-google-mobile-ads errors"
Please ensure you have given all the following requested information in your report.

#### Issue details
_Please provide the details of your issue_
I'm using Libgdx 1.9.4 and I want to port my game on iOS platforms. When I don't use google-mobile-ads, it runs normally. But when i use it, there's a error:

java.lang.NoClassDefFoundError: org/robovm/apple/foundation/NSObject$Handle
	at org.robovm.po

[2016-10-18 10:57] Tom-Ski commented on #69
roboVMVersion shows 1.14.0, which isn't valid for this project. Use 2.2.1-SNAPSHOT just like you do with robopods.

[2016-10-18 10:57] #69 closed

[2016-10-18 11:07] florianf commented on #55
You could try: env OPENSSL_ia32cap="~0100000000000000:0"
From the docs

[2016-10-18 11:09] Tom-Ski commented on #55
Also, `env` will only work if you run the application in the command args for the env program afaik.

[2016-10-18 11:43] blady214 commented on #55
So, if I understand you well, after assigning the env value I have to build the application using command line e.g. by gradle?

[2016-10-19 10:57] blady214 commented on #55
I've set `env OPENSSL_ia32cap="~0100000000000000:0"` and then build the app with gradle but I get still the same error:
[code]

[2016-10-20 08:12] viguysentertainment commented on #69
Thanks for your help, Tom-Ski.
But when i reconfigure my project, the same error still occurs:
java.lang.NoClassDefFoundError: org/robovm/apple/foundation/NSObject$Handle
	at org.robovm.pods.google.mobileads.GADRequest.<init>(GADRequest.java:476524552)
	at block.game.classic.IOSLauncher.initAdmob(IOSLauncher.java:476524552)
	at block.game.classic.IOSLauncher.didBecomeActive(IOSLauncher.java:476524

[2016-10-20 08:27] viguysentertainment opened #70 "A error in google-mobile-ads"
Hello everybody,
When i use google-mobile-ads, A error occurs:

java.lang.NoClassDefFoundError: org/robovm/apple/foundation/NSObject$Handle
at org.robovm.pods.google.mobileads.GADRequest.(GADRequest.java:562507784)
at block.game.classic.IOSLauncher.initAdmob(IOSLauncher.java:562507784)
at block.game.classic.IOSLauncher.didBecomeActive(IOSLauncher.java:562507784)
at com.badlogic.gdx.backends.iosrob

[2016-10-20 18:53] yujinfu commented on #66
Hi, @Tom-Ski  , the error log that Eclipse plugin told me  is like the title said.

my robovm.xml:

<config>
  <executableName>${app.executable}</executableName>
  <mainClass>${app.mainclass}</mainClass>
  <os>ios</os>
  <arch>thumbv7</arch>
  <target>ios</target>
  <iosInfoPList>Info.plist.xml</iosInfoPList>
  <resources>
    <resource>
      <directory>../core/assets</directory>
      <includes>

[2016-10-20 18:54] yujinfu commented on #66
Hi @Tom-Ski , the error message that Eclipse plugin told me is like the title said.

my robovm.xml:
`<config>
  <executableName>${app.executable}</executableName>
  <mainClass>${app.mainclass}</mainClass>
  <os>ios</os>
  <arch>thumbv7</arch>
  <target>ios</target>
  <iosInfoPList>Info.plist.xml</iosInfoPList>
  <resources>
    <resource>
      <directory>../core/assets</directory>
      <includes

[2016-10-20 19:05] yujinfu commented on #66
Hi @Tom-Ski  , all the error message that Eclipse plugin told me was like the title said.

# my robovm.xml
<config>
  <executableName>${app.executable}</executableName>
  <mainClass>${app.mainclass}</mainClass>
  <os>ios</os>
  <arch>thumbv7</arch>
  <target>ios</target>
  <iosInfoPList>Info.plist.xml</iosInfoPList>
  <resources>
    <resource>
      <directory>../core/assets</directory>
      <in

[2016-10-25 17:05] blady214 commented on #55
Some news... I've moved my VM to another host and now everything works perfectly. It confirms that issue is caused by hardware.

[2016-10-25 18:27] Tom-Ski commented on #66
Try running from command line with gradle

----- Reply message -----
From: "yujinfu" <notifications@github.com>
To: "MobiDevelop/robovm" <robovm@noreply.github.com>
Cc: "Tomski" <tomwojciechowski@asidik.com>, "Mention" <mention@noreply.github.com>
Subject: [MobiDevelop/robovm] Can't handle single and double quotes in same argument (#66)
Date: Thu, Oct 20, 2016 20:05

Hi @Tom-Ski  , all the error m

[2016-10-26 07:25] yujinfu commented on #66
Hi Tom-Ski , thanks for your suggestion. But I use Eclipse ui plugin( no gradle ), now everytime when I launch Eclipse and run application into ios device, the error always occure, and I just close Eclipse and delete
the files in Eclipse's workspace and launch Eclipse again, and the error gone.
I don't know why it work by this way. Could you please help me , thanks very much.

[2016-10-26 10:02] jernis commented on #59
Hi. love your work.
I have the same issue :

    project.ext.roboVMVersion = "2.2.1-SNAPSHOT"
    project.ext.roboVMGradleVersion = "2.2.1-SNAPSHOT"
    dependencies {
        classpath 'com.android.tools.build:gradle:2.1.3'
        //classpath 'org.robovm:robovm-gradle-plugin:1.12.0'
        classpath group: 'com.mobidevelop.robovm', name: 'robovm-gradle-plugin', version: project.roboVMGradleVers

[2016-10-26 17:24] blady214 opened #71 "iOS 10 no console output"
#### Issue details

After changing hw of my machine I get possibility to run the application on device directly from IntelliJ. Everything works fine but there is no console output from application. If I will look at _Devices_ window from _XCode_ console output is correct and contains all logs from my appliaction.
#### Reproduction steps/code

Build and run application on real device through Intell

[2016-10-28 16:20] CoderBaron opened #72 "Simlauncher needs to be updated to support Xcode 8.1"
The simlauncher needs to be updated or else launching with Xcode 8.1 fails.
The updated simlauncher: https://github.com/multi-os-engine/moe-ios-simulator-launcher/commit/037ae464d2561b5f9dfa35ba67c5e39ac995d521

[2016-10-30 18:56] #72 closed

[2016-10-31 11:51] yujinfu opened #73 "CoreBluetooth startScan or stopScan crash"
Hi, I develop my app with CoreBluetooth framework,
when I let ble startScan , it may crash without any console message.
So I export the crash message from XCode window-devices

**Build Tools:**
- [ ] IDEA plugin
- [* ] Eclipse plugin
- [ ] Gradle plugin

**Versions:**

_Please provide the version of RoboVM, XCode and JDK used_
- Robovm:2.2.1 snapshot
- XCode: 8.0
- JDK: 1.8

and the crash message:

[2016-11-01 08:43] yujinfu commented on #73
Hi, I saw Thread 2 crashed:
Is it because of GC ?
Could anybody help me please, thanks very much.

Thread 1 Crashed:
0 libsystem_kernel.dylib 0x33202b2c __psynch_cvwait + 24
1 libsystem_pthread.dylib 0x33280385 _pthread_cond_wait + 517
2 libsystem_pthread.dylib 0x33281269 pthread_cond_wait + 37
3 IOSLauncher 0x009ba9a9 GC_wait_marker + 25
4 IOSLauncher 0x009b49cd GC_help_marker + 135
5 IOSLauncher

[2016-11-01 12:33] florianf commented on #73
It seems like the GC thread crashed, but I've no idea why. It crashed in the method __psynch_cvwait in this file http://opensource.apple.com//source/xnu/xnu-1699.32.7/bsd/kern/pthread_support.c

Maybe the error is triggered int the internal handlePeripheralDiscovered method of CBCentralManager, definition from here https://github.com/nst/iOS-Runtime-Headers/blob/master/Frameworks/CoreBluetooth.fra

[2016-11-01 12:38] florianf commented on #70
Could you try building againts iOS 10? The missing Handler class is in the source: https://github.com/MobiDevelop/robovm/blob/master/compiler/cocoatouch/src/main/java/org/robovm/apple/foundation/NSObject.java#L63

[2016-11-01 12:42] yujinfu commented on #73
Hi @florianf  thanks for you answer,
now I add the strong Ref to the CBCentralManagerDelegate after I new a CBCentralManager,
 the code is :
centralManager.addStrongRef(centralManager.getDelegate());

and it seems not crash now.

[2016-11-01 16:46] florianf commented on #70
Please also try to clean your .gradle cache, so the latest snapshot is downloaded.

[2016-11-01 16:47] florianf commented on #73
Thanks for the info, I'll create an FAQ Entry in the wiki!

[2016-11-01 16:47] #73 closed

[2016-11-01 19:04] florianf commented on #73
@yujinfu I wrote a wiki article, thanks for your feedback: https://github.com/MobiDevelop/robovm/wiki/My-app-is-crashing-without-a-stacktrace%2C-what-should-I-do%3F

One question remains: According to https://github.com/MobiDevelop/robovm/blob/master/compiler/cocoatouch/src/main/java/org/robovm/apple/corebluetooth/CBCentralManager.java#L62 the setDelegate selector has already the strongRef = true

[2016-11-02 03:18] yujinfu commented on #73
Hi @florianf  I didn't invoke setDelegate of CBCentralManager class,
I invoke the structor of CBCentralManager and pass the CBCentralManagerDelegateAdapter as a parameter directly.

code:
centralManager = new CBCentralManager(new CBCentralManagerDelegateAdapter(), null);
centralManager.addStrongRef(centralManager.getDelegate());

May be the constructor didn't add strong ref to the delegate, I gues

[2016-11-02 07:01] florianf commented on #73
Yeah, you're right! Constructors currently don't support the Selector(strongRef=true) annotation. Thanks for your support.

[2016-11-02 08:15] yujinfu commented on #73
You are welcome.

[2016-11-03 04:41] tianqiujie opened #74 "Can not run ios on 10.12.1"
#### Issue details
2016-11-03 12:37:42.759 simlauncher[7021:551595] +[SimDeviceSet defaultSet]: unrecognized selector sent to class 0x107622118
2016-11-03 12:37:42.766 simlauncher[7021:551595] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[SimDeviceSet defaultSet]: unrecognized selector sent to class 0x107622118'
*** First throw call stack:
(
	0   CoreFounda

[2016-11-03 16:48] florianf commented on #74
We released a snapshot yesterday evening in which the issue is fixed.

[2016-11-03 16:48] #74 closed

[2016-11-05 14:01] TaiVuong commented on #55
@blady214 Can you explain more about this ? maybe i have the same problem.

[2016-11-05 15:27] blady214 commented on #55
@TaiVuong when I try to run my application on the device directly InteliJ crashes but I am able to run app on simulator and build IPA file. Check if your processor supports AVX instruction. If no, you've got the same error as me.

[2016-11-05 15:27] #64 closed

[2016-11-06 11:58] TaiVuong commented on #55
I don't know about AVX but i have same problem when build to device.
@Tom-Ski  can you build a test plugin with java 1.7 and let @blady214  test it ?

[2016-11-09 06:11] jernis commented on #59
It seems to be an issue with the Iphone 5 IOS 10 simulator.
It works if simulator target is Iphone 5s ios 10.

[2016-11-09 18:29] centy commented on #53
I have similar issue when importing new project. I am using lates snapshot.

null
java.lang.NullPointerException
	at org.robovm.idea.running.RoboVmIOSRunConfigurationSettingsEditor.updateSimulatorConfig(RoboVmIOSRunConfigurationSettingsEditor.java:121)
	at org.robovm.idea.running.RoboVmIOSRunConfigurationSettingsEditor.populateControls(RoboVmIOSRunConfigurationSettingsEditor.java:87)
	at org.robov

[2016-11-10 23:35] jessechan007 opened #76 "Run-time Exception with 3rd-Party Java library (HTMLUnit)"
#### Issue details
Using the latest RoboVM Eclipse Plugins.  I receive a run-time exception when using the HTMLUnit library.  When compiled with the Java SE runtime, it runs fine using Java SE runtime, but not with the RoboVM Eclipse runtime for some reason.  Any ideas?

#### Reproduction steps/code
I have built a RoboVM app in Eclipse using the latest installed the RoboVM Eclipse plugins (snapsho

[2016-11-11 06:27] florianf commented on #76
You should the class which falls to Compiler in the robovm console view. Maybe this helps narrowing down the issue. Maybe an issue with multicatch statements?

[2016-11-11 06:34] jessechan007 commented on #76
Thanks for the comment.  The try-catch-final work with Java SE, but as soon as using RoboVM it dies.  It doesn't tell me which specific class is causing the issue; rather I have commented out all references to HTMLUnit line-by-line and any calls to any of the libraries causes the same Runtime Exception, even with try-catch.  Is anyone else having problems with HTMLUnit or other 3rd party JARs with

[2016-11-13 08:06] florianf commented on #71
This was confirmed. Can someone with IDEA running take a look at it?

[2016-11-13 12:36] MobiDevelop commented on #71
I use IDEA, but I don't have a physical iOS device with which to test this.

[2016-11-13 13:23] florianf commented on #71
@MobiDevelop I think @piotr-r takes a look. Maybe you can help him on Gitter. He's currently cloning IDEA as far as I understood.
Bzw: 2.3.0 release? ;-)

[2016-11-13 20:19] florianf commented on #71
Seems to be an iOS issue: https://stackoverflow.com/questions/37886600/ios-10-doesnt-print-nslogs

[2016-11-14 15:54] florianf commented on #71
@blady214 Ok, found some info on SO http://stackoverflow.com/questions/37800790/hide-strange-unwanted-xcode-8-logs
Just pushed a fix to the repo, can you rebuild an test if it works now for you?

[2016-11-14 17:08] florianf commented on #71
Fix confirmed, closing.

[2016-11-14 17:08] #71 closed

[2016-11-21 22:44] tzvetkovg opened #78 "Robovm crash [GADInterstitial initWithAdUnitID:]: unrecognized selector sent to instance"
Hello,

I am trying to run my app for ios (latest xcode 8,ios 10,  iphone 6 simulator) with admob. I followed this guide https://github.com/florianf/robovm-robopods/tree/master/google-mobile-ads/ios. But I am getting the following stacktrace error. Any help?

[code]

The actual admob code

[code]

My build gradle is as follows

[](buildscript {
	project.ext.roboVMVersion = "2.2.1-SNAPSHOT"
    	pr

[2016-11-22 06:40] florianf commented on #78
Try to use the latest Mobidevelop Robopods: https://github.com/MobiDevelop/robovm-robopods

Your build.gradle references the original robopods.

[2016-11-22 09:16] tzvetkovg commented on #78
I've tried switching to the mobidevelop robopods but still getting the same issue

[2016-11-26 02:09] yujinfu opened #80 "Required plug-in compatibility UUID DA4FDFD8-C509-4D8B-8B55-84A7B66AE701 for KSImageNamed.ideplugin (com.ksuther.KSImageNamed) not present"
Hi, I install the lastest robovm eclipse plugin,
but it build failed with the console message below:

is there anybody come across such issue,please help me thanks very much.

Build failed. Check the RoboVM console for more information.
Cannot run program "2016-11-25 15:30:06.989 xcodebuild[12538:705649] [MT] DVTPlugInManager: Required plug-in compatibility UUID DA4FDFD8-C509-4D8B-8B55-84A7B66AE70

[2016-11-27 09:30] florianf commented on #80
Please try to run with JDK 8, because we're not supporting JDK 7 officially anymore. Nevertheless this looks a bit strange, something seems to be wrong with your xcodebuild settings, libraries seem to be missing.

[2016-11-27 15:41] intrigus commented on #80
That's the same issue as https://github.com/robovm/robovm/issues/1227 it has been fixed by ignoring std.err.

[2016-11-28 04:25] yujinfu commented on #80
@florianf  sorry  my jdk version is 1.8

[2016-11-28 05:40] yujinfu commented on #80
@intrigus I still have the problem , but when I close xcode , close eclipse  and restart eclipse again , it can work successfully. do you know what's the problem with that? thanks very much.

[2016-11-28 09:27] florianf commented on #80
@intrigus Could you elaborate on the solution of the original RoboVM? What do you mean by ignoring stderr?

[2016-11-28 12:46] tianqiujie opened #81 "cannot build 2.2.1-snapshots"
2016-11-28 20:39:19.968 simlauncher[34585:8727839] +[SimDeviceSet defaultSet]: unrecognized selector sent to class 0x111eaf118
2016-11-28 20:39:19.974 simlauncher[34585:8727839] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[SimDeviceSet defaultSet]: unrecognized selector sent to class 0x111eaf118'
*** First throw call stack:
(
	0   CoreFoundation

[2016-11-28 13:22] #81 closed

[2016-11-28 14:50] intrigus commented on #80
Our robovm merges stderr and stdout. Robovm 1.14 doesn't capture stderr, only stdout.

[2016-11-28 15:07] piotrros opened #82 "Using UIKit methods?"
Hi, in my old robovm project I needed few UIKit methods so I wrote this:

[code]

Problem is it doesn't work right now. When trying to call UIImageWriteToSavedPhotosAlbum app crashes without any stacktrace.

In UIKit class now I have all my functions in red font with error:

Cannot resolve corresponding JNI function, but I think it's android studio some sort of bug.

edit:

solved by adding:

[cod

[2016-11-29 00:52] Ash98 commented on #78
Use this guide: theashcode.com/2016/09/tutorial-google-mobile-ads-admob-7-on-robovmlibgdx-2016

[2016-11-29 10:31] #82 closed

[2016-11-29 10:41] piotrros opened #84 "NPE org.robovm.rt.bro.ValuedEnum$AsSignedIntMarshaler.toNative(ValuedEnum.java)"
#### Issue details
When I'm trying to present image picker view controller on iphone with ios 10 it crashes with NPE.

#### Reproduction steps/code

Try this code:

[code]

It works on ipad (popover), crashes only on the iphone.

#### Configuration
_Please provide the build system, version(s), and targets affected._

**Build Tools:**
- [x] IDEA plugin
- [ ] Eclipse plugin
- [ ] Gradle plugin

**Ve

[2016-11-30 19:53] florianf commented on #80
@intrigus Thanks for the pointer, I'll take a look into fixing this.

[2016-12-03 12:06] florianf commented on #78
@Tom-Ski Can you take a look at this? It seems something is wrong in the binding (unknown selector sent).

[2016-12-04 09:05] coderbounty-cowboy commented on #55
I'm with www.coderbounty.com you should post this issue there

[2016-12-04 09:09] Tom-Ski commented on #78
The current issue is invalid, I spoke to OP on irc and asked to update with the correct info (use our robopods instead and update the test and stacktrace accordingly) That hasn't been done, so there isn't much I can look into any further. I'm currently using the latest build of the admob binding and I dont see this issue.

[2016-12-04 16:34] Ash98 commented on #78
@Tom-Ski It's because he is using the MobiDevelop fork of RoboVM, which is based off of RoboVM 1.8.0 so the 1.14.0 robopod doesn't work.

[2016-12-04 19:22] florianf commented on #78
@Tom-Ski OK, thanks for your feedback. Closing, OP please update a New issue with the updated infos.

[2016-12-04 19:22] #78 closed

[2016-12-05 13:07] florianf commented on #84
Could you provide a small self contained example that I can copy & paste? The pasted code references a lot of instance variables, I've no idea how they were initialized (app, app.imagePicker, app. windowImagePicker).

[2016-12-05 13:07] #70 closed

[2016-12-05 14:15] piotrros commented on #84
Thanks for answering! Right ofc I should do that in the first place. On the beginning you have initialization code.

`@Override
	public void showImagePicker(final ImagePickerCallback callback) {
		final CGRect bounds = UIScreen.getMainScreen().getBounds();

		final boolean ipad = UIDevice.getCurrentDevice().getUserInterfaceIdiom() == UIUserInterfaceIdiom.Pad;
		final UIWindow windowImagePicker = n

[2016-12-05 14:53] florianf commented on #84
The problem is, that you're returning `null` for `getSupportedInterfaceOrientations`and `getPreferredInterfaceOrientation` methods.

Change this to something like below, than it works.
Please note: You'll need to add the NSPhotoLibraryUsageDescription in your Info.plist.xml.

[code]

[2016-12-06 08:07] piotrros commented on #84
Thanks a ton, it worked! So this was so easy to fix.. but crash stacktrace misleaded me that it's something else. Anyway problem solved!

[2016-12-06 08:07] #84 closed

[2016-12-10 08:45] brycecovert commented on #74
@florianf  is this resolved in master? I've tried each release, 2.1.0, 2.2.0, 2.2.1, and building from master, and each give this same error.

Thanks!
B

[2016-12-10 09:55] florianf commented on #74
Yes,this is fixed in master and in the snapshot release. Make sure you're using the latest bin/simlauncher binary.

[2016-12-10 12:15] tianqiujie opened #85 "Shader can not run normal on IOS, but can work normal on android."
In android:
![image](https://cloud.githubusercontent.com/assets/2835129/21073294/1f281a82-bf15-11e6-8caf-c5fba61abe87.png)
In IOS:
![image](https://cloud.githubusercontent.com/assets/2835129/21073300/68d52a1c-bf15-11e6-91c3-6ffc6908a5b1.png)
my shader code is
[code]

[2016-12-10 14:22] kali-gandaki opened #86 "Using Socket IO illegal argument exception"
I am resubmitting the issue that was reported on original roboVM pre version 1.8 regarding socket io. The issue was apparently solved in robovm 1.9 . Since this fork was built of version 1.8 , the issue still remains . Please check the original links below for details .I am getting the exact stacktrace dump .I have been struggling with it and  hope it will be solved asap .

https://github.com/robo

[2016-12-10 14:37] mhilbrunner opened #87 "RoboVM building/deploy crashes JVM and IDE"
#### Issue details
Trying to compile and deploy with this RoboVM fork (either the latest stable or the snapshot) plugin in either IntelliJ or Eclipse (tried the last 3 major Eclipse versions) crashed the JVM and with it the IDE every try I made. Compilation and linking always succeeded, but as soon as codesigning was tried (log output "codesign -f -s ...") it always crashed. Using the "official",

[2016-12-10 15:47] xoppa commented on #85
https://github.com/libgdx/libgdx/wiki/Issue-Tracker

[2016-12-10 15:47] #85 closed

[2016-12-10 16:37] brycecovert commented on #74
Ah, perhaps I was mistaken and this isn't the same issue. I'm getting this error from ios-sim, not simlauncher. I've tried both the prebuild 2.2.1-SNAPSHOT plugin build, and also compiling straight from master. Should I create a new issue, or does this seem related?

[code]

[2016-12-10 16:43] florianf commented on #87
Duplicate of #55 .

[2016-12-10 16:43] #87 closed

[2016-12-10 17:48] florianf commented on #74
This is fixed, maybe your IDE plugin is not the latest? It should run the new binary.

[2016-12-10 17:55] brycecovert commented on #74
Thanks for the help!

For this, I'm not using the IDE plugin, actually. I'm doing this from my shell in the ~/.robovm-sdks/robovm-2.2.1-SNAPSHOT, and in the compiler/bin directory after building locally. Is there any kind of cache or anything that might be affecting this? For reference, I'm on OS 10.12.1, and XCode 8.1.

[2016-12-10 18:32] brycecovert commented on #74
One more observation: I hadn't realized that ios-sim is just a resource in robovm. It looks like the one that I'm executing is the exact same across versions.
[code]

[2016-12-10 18:50] florianf commented on #74
ios-sim is not used anymore, I'll remove it from the repo. Thanks for the pointer  and please use simlauncher.

[2016-12-10 18:57] florianf commented on #86
Mhmm, that looks like a nasty bug deep down in ICU somewhere. I won't be able to fix this anytime soon, the only idea I have is building your own ICU, as described here: https://robovm.com/robovm-0-0-14-has-been-released/ maybe this helps.

[2016-12-10 19:04] brycecovert commented on #74
Got it! That makes sense - I'm actually not using the plugin, but the tool I'm using assumes ios-sim. Thanks!

[2016-12-11 04:10] sapanaryal commented on #86
Hi thanks for prompt reply ,It seems to work for me at the moment. The solution was suggested on the original issue thread and i ignored it because it was not working for the original poster . My bad .

But after trying all the configuration on http://apps.icu-project.org/datacustom/ICUData51.html to generate dat file , the only one working is when i select all options . It generates a file the si

[2016-12-11 12:47] badlogic opened #88 "Select 64-bit compatible iOS simulator as default in IntelliJ IDEA/Eclipse run configuration"
#### Issue details
The IntelliJ IDEA and Eclipse plugins both choose the lowest version iPhone simulator (iPhone 5 in my case) which usually only supports 32-bit x86 binaries. The target architecture is set to 64-bit by default. Running an app on the simulator with this default run configuration will result in a fancy cryptic error message first time users won't know how to deal with.

#### Reprod

[2016-12-11 19:30] florianf commented on #88
Yeah, that's true. Since we're querying the devices via xcrun simctl we lost the info about 32/64 bit.
I'll take a look at it, maybe just hardcode the older 32bit devices.

Btw.: Great work on the original RoboVM soft-debugger. I'm currently trying to implement the missing parts in branch https://github.com/MobiDevelop/robovm/tree/console_debugger and really like original implemented solution ;-)

[2016-12-11 19:47] florianf commented on #88
Fixed it quick 'n dirty by blacklisting old default simulator names, currently the best solution I came up with. Please re-open if a better idea emerges. Thx for the report!

[2016-12-11 19:47] #88 closed

[2016-12-11 20:02] florianf commented on #86
As far as I understood, only the portions of the file that are necessary will be read into memory. The relevant code is taken directly from android libcore.

If you want to dig down the rabbit hole, IDN.toASCII indirectly calls compiler/vm/rt/android/libcore/luni/src/main/native/libcore_icu_NativeIDN.cpp jstring Java_libcore_icu_NativeIDN_convertImpl (Line 35).

This calls robovm-compiler-parent/v

[2016-12-12 08:20] badlogic opened #89 "RoboVMResolverTest fails"
Checks for `bin/ios-sim` which has been removed.

[2016-12-12 08:41] TaiVuong commented on #60
It's so long and i had forgotten why i had talked about java 7.
I update to 2.3.0 but it still is the same. it works if i build for myself.
I close this because only me have this problem.

[2016-12-12 08:41] #60 closed

[2016-12-12 14:12] sapanaryal commented on #86
Hi , Thanks for the info .
Yes I kept the icudt51l.dat file inside data folder ( where icons and splash screen images goes ) .The location is referenced as resources directory in roboVm.xml file . If I only generate the ICU file using rfc3491.spp i get the following exception and the application crashes .

[ERROR] android.ICU: Couldn't find ICU DateTimePatterns for
java.lang.AssertionError: couldn

[2016-12-12 19:23] #89 closed

[2016-12-12 19:53] florianf commented on #86
I think you forgot to add the standards, like locale en_US etc. mentioned in the blog post.
I built a reasonable set, now has uncompressed 2MB, which is slightly larger than the shipped one.
With this the call `IDN.toASCII("http://www.google.com")` works! Please test it for your usecase.

[icudt51l.zip](https://github.com/MobiDevelop/robovm/files/647000/icudt51l.zip)

[2016-12-13 01:42] sapanaryal commented on #86
Hi ,The file seems to work for me . That was handsomely selected checkboxes .
Thank you for working on this and helping me out

[2016-12-13 04:44] tianqiujie opened #90 "Is there any play to make Xcode project use robovm?"
Is there any play to make Xcode project use robovm? Because our company has a tool to make multi channel ipa pakcage. It can change the xocde project.

[2016-12-13 19:16] florianf commented on #90
This is currently not possible and not planned. Maybe you could use the RoboVM Gradle plugin in combination with this: https://github.com/openbakery/gradle-xcodePlugin but I've no idea if this could work.

[2016-12-13 19:16] #90 closed

[2016-12-14 08:28] viguysentertainment opened #91 "Crashed when build admob"
Hello everyone,
When i create a bannerView in admob, i got a error in the library:
java.lang.ClassCastException: block.game.classic.IOSLauncher$2 cannot be cast to org.robovm.objc.ObjCObject
	at org.robovm.objc.ObjCObject$Marshaler.protocolToNative(ObjCObject.java)
	at org.robovm.pods.google.mobileads.GADBannerView.$m$setDelegate$(GADBannerView.java)
	at org.robovm.pods.google.mobileads.GADBannerV

[2016-12-15 08:33] tianqiujie opened #92 "Crash when override didBecomeActive ?"
I just override the method didBecomeActive and write nothing, the app will crash!!! If I delete the super.didBecomeActive(application);  my app will not crash.
[code]

The error is
[code]

Libgdx:1.9.5
robovm gradle plugin:2.3.0
ide: android studio

[2016-12-15 12:20] intrigus commented on #92
Please provide a sscce and a full stack trace.

[2016-12-15 12:30] tianqiujie commented on #92
please just override the  method.
[code]

and you can find the crash

libgdx 1.9.5

[2016-12-15 15:11] intrigus commented on #92
No, we are working in our free time on this project.
It's essential that contributors can easily very bugs, so scccee's are important.
You didn't post whether this is on simulator or on device, if it's on device you didn't provide us with the iOS version and the phone model.
It might seem to be easy to reproduce in your eyes, but it might not be easily reproduced by us due to lack of information.

[2016-12-15 15:42] tianqiujie commented on #92
OK, Thank you for reply.

[2016-12-15 15:42] #92 closed

[2016-12-16 01:09] tianqiujie commented on #92
Hi,  I know why crashed, because in the didFinishLaunching method, I change the return value.
[code]
it should be
[code]

[2016-12-16 18:34] jeudyx opened #93 "UnsatisfiedLinkError with FreeType"
#### Issue details
I have a libgdx game that uses the FreeType extension. It works fine on Desktop and on Android, but when I try to open it on my iPhone I get this error:

[code]

it builds fine, the error appears when the game tries to run.

#### Reproduction steps/code

This is my build.gradle file:

[code]

#### Configuration

**Build Tools:**
- [X] IDEA plugin
- [ ] Eclipse plugin
- [X] Gradl

[2016-12-16 18:39] MobiDevelop commented on #93
Looking at your build.gradle, I see a lot of Android native dependencies. Not saying that is necessarily the problem, but those should be removed.

[2016-12-16 19:12] jeudyx commented on #93
hey! thanks for the reply! This was an old build.gradle I had and I my desperation I was adding entries from the android project.

At the end, I recreated the libGDX project and imported the source files from my original folder, and now it works! so no issue.

Thanks!

[2016-12-16 19:12] #93 closed

[2016-12-18 06:03] chandruscm opened #94 "Unable to detect Xcode installation"
Freshly installed IntelliJ Idea v2016.3.1 on the latest macOS Sierra v10.12.2

Installed robovm release build 2.3.1
Installed latest Xcode v8.2 from the Appstore

RoboVM xcode setup is still unable to detect Xcode ("No Xcode installation found")

$xcode-select -p
/Library/Developer/CommandLineTools

[2016-12-18 08:49] ashleyj commented on #94
do you have ```/Applications/Xcode.app/Contents/Developer``` ?

You may need to ```sudo xcode-select -s /Applications/Xcode.app/Contents/Developer```

[2016-12-18 18:32] chandruscm commented on #94
Worked like a charm! Thanks a lot @ashleyj

[2016-12-18 18:32] #94 closed

[2016-12-20 05:09] chandruscm opened #97 "Blank screen after iOS Launch Screen in LibGDx"
IOSLauncher.java
[code]

Inside MainGame.java I have an assetManager loading, launches the MainMenuScreen when it finishes loading.

[code]

But when I launch the game, the iOS Launch Screen comes up then it displays a white screen for a few seconds (glClearColor of MainGame.java) and after assetManager finishes loading, it sets the new screen.

I require the iOS Launch screen to show until assetM

[2016-12-20 06:12] florianf commented on #97
Please use the libgdx Forums to ask questions, this is a issue tracker for robovm.

[2016-12-20 06:12] #97 closed

[2016-12-21 02:39] TaiVuong opened #98 "tvos eclipse"
I didn't see a function to build for tvos with eclipse. It work with macbook pro and I can build with Xcode.

**Devide did not work:**
Mac mini, macbook air
Osx: 10.11.6

**Build Tools:**
- [x] IDEA plugin
- [x] Eclipse plugin (Eclipse IDE for Java Developers Version: Mars.2 Release (4.5.2))
- [x] Gradle plugin

**Versions:**
- Robovm: 2.2.0, 2.3.0
- XCode: 8.1 , 8.2 (the last update)
- JDK:1.8.0_

[2016-12-21 12:38] florianf commented on #98
Hi,
tvOs and watchOs are currently not supported, because submitting requires a binary containing bitcode. Currently RoboVM can't do that, this was a closed-source developed feature.

[2016-12-23 02:47] TaiVuong commented on #98
i can build all my app to tvos, just config info.plish, create the certificate for tvos and run as iphone.
Everything is good, just cant not detect Key.Left, Right ...

[2016-12-23 02:47] #98 closed

[2016-12-23 21:04] CoderBaron commented on #91
Whenever you have a `protocolToNative`-kind of error, it is mostly because you passed a Java interface where a delegate is wanted. Unfortunately that doesn't work, you need to pass a class that extends from NSObject and implements the interface. There's typically an "adapter" class already available.
In your case, simply replace `GADInterstitialDelegate` with `GADInterstitialDelegateAdapter`. One

[2017-01-10 18:52] JFixby opened #99 "How to get application version using libgdx/robovm?"
There is information in my  ```robovm.properties``` file:
[code]

How can I get it programmatically from inside of my app code during runtime?

Here I found related topic to get the app.version: http://stackoverflow.com/questions/20048853/how-to-get-application-version-using-libgdx-robovm

How about the rest?

[2017-01-10 18:56] JFixby commented on #99
Ok, the following code prints all the values I need (and even more):
[code]

[2017-01-10 18:56] #99 closed

[2017-01-24 05:06] chandruscm opened #100 "Privacy changes in iOS 10"
Following code opens up a share menu with a text, url and an image.

[code]

Works as expected on iOS 9, but on iOS 10, I get the following error.

[code]
Tested on device (iPhone 6)
RoboVM plugin version 2.3.0 Stable

Upon reading this answer [http://stackoverflow.com/questions/39820512/privacy-problems-with-mfmailcomposeviewcontroller-and-ios-10-only](url) it seems to be an issue due to privacy

[2017-01-25 13:22] chandruscm commented on #100
Using
```((IOSApplication) Gdx.app).getUIViewController().presentViewController(uiActivityViewController, true, null);```
instead of
```UIApplication.getSharedApplication().getKeyWindow().getRootViewController().presentViewController(uiActivityViewController, true, null);```
fixed the dialog box not appearing.

The [MC] Result gives a NO when the inbox app just hasn't been configured yet, upon con

[2017-01-25 13:22] #100 closed

[2017-02-05 13:59] Majirefy opened #102 "No Provisioning profile found"
#### Issue details
I want to distribution my Libgdx game to iOS.

I created iOS Distribution Certificate and iOS App ID and a App Store Distribution Provisioning Profile in Apple Developer Center. Then I downloaded all certificates and provisioning profiles in my Mac.

Also I created a App in iTunes Connect for TestFlight.

When I run `ios:createIPA` command it says:

It seems it uses my developer

[2017-02-05 17:25] mustii82 commented on #102
I runned a test xcode app with the same package id as my game and with same provisionfile, after that robovm worked well for me

[2017-02-05 23:08] Majirefy commented on #102
@mustii82 Thanks!

You mean I create a Xcode project with app ID "net.toyknight.aer", then set `iosSignIdentity` and `iosProvisioningProfile` same with that?

I tried that, it did work for packaging an IPA file for me. But when I tried to upload it to iTunes Connect for TestFlight, it says:

<img width="812" alt="2017-02-06 6 58 17" src="https://cloud.githubusercontent.com/assets/3023607/22630695/

[2017-02-06 19:58] mustii82 commented on #102
try to disable your sign settings in cradle and set it through the robovm-launcher and export wizard

[2017-02-07 11:49] Majirefy commented on #102
@mustii82
How to do that?
Can you show me steps? Where is robovm-launcher?

[2017-02-08 22:11] Try4W opened #103 "SKProductsRequest.setDelegate() crash"
### Reproduction steps/code

Using the anonymius class that implements interface:

[code]
I got this such exceptions:
[code]

But if I try to use adapter:
`request.setDelegate(object : SKProductsRequestDelegateAdapter() {`

I will get something like that:
[code]

Device logs: http://pastebin.com/NFmuyEbV

in the same time this code runs just fine:
[code]

**Build Tools:**
- [ ] Gradle plugin

**Ve

[2017-02-09 12:58] w3ggy opened #104 "Build roboVm"
Hi! Running

after 30 min build failed with:

What i'm doing wrong?

[2017-02-09 20:07] florianf commented on #104
Hi,
you did nothing wrong. I think the Maven Surefire Plugin expects a 2.3.1-SNAPSHOT release to be present, but @MobiDevelop didn't have time to do another snapshot release.

For now i disabled building the Maven plugin (Updated main pom.xml), if you updated your copy from git it should build fine.

@MobiDevelop can you do the snapshot build, like @samskivert proposed in the gitter channel?

"@Mo

[2017-02-09 20:13] florianf commented on #103
Hi,
the StoreKit API wasn't updated to iOS 10 yet, it's still on iOS 9.
Maybe the signature of a method changed or there were methods added in iOS 10?

If you want to update the API for iOS 10, take a look at this yaml, which is used to generate the bindings:
https://github.com/MobiDevelop/robovm/blob/master/compiler/cocoatouch/src/main/bro-gen/storekit.yaml

For further info, take a look at this

[2017-02-10 09:10] dkimitsa commented on #103
hi,

I'm working on frameworks now, not tightly adding ios10 but existing classes will receive ios10 method.
the goal is to make sure bro-gen to run over all yamls. Will check if there are changes in mentioned classes.

[2017-02-10 19:33] Try4W commented on #103
Crash described in the first comment won't appear if I remove: `SKPaymentQueue.getDefaultQueue().addTransactionObserver(...)`

Calling:
`SKPaymentQueue.getDefaultQueue().addPayment(payment)`

follows to similar crash.
Device logs: http://pastebin.com/RB3hY1pu

I can't find any differences in method signature according to docs: https://developer.apple.com/reference/storekit/skpaymenttransactionobse

[2017-02-11 20:57] MobiDevelop commented on #104
The problem is less that the snapshots haven't been published and more that the surefire module depends on modules that no longer exist (robovm-junit-client and robovm-maven-provider). Will need input from @samskivert as to whether the surefire module is needed and if it is, we'll need to bring back those modules. For now, I removed the surefire module from the build and am currently in the proces

[2017-02-12 00:25] samskivert commented on #104
Sorry about that, I must have had a stale version of the junit depends in my local Maven cache. You're right to comment out the surefire stuff (we can delete it entirely). It's not needed. We just need the Maven plugin to drive the main RoboVM tools, to build and run the simulator and whatnot. Fixing up and maintaining the JUnit integration is not worth the trouble.

Thanks again for making anothe

[2017-02-14 18:15] Try4W commented on #103
As I can see dkimitsa's push request was accepted.
How can I try a snapshot version?

[2017-02-14 20:56] domi1504 commented on #82
Hey there!
I have exactly the same problem like You had.
But Your solution did not work for me. I am quite unexperienced, with that kind of things. Is "Xmas tree uses photos" a synonym or something?
What am I supposed to write in this string?
An answer would be highly appreciated :)

[2017-02-15 00:01] piotrros commented on #82
It's just a text which shows app when user is asked to allow accessing the camera.

See this: http://stackoverflow.com/questions/39519773/nsphotolibraryusagedescription-key-must-be-present-in-info-plist-to-use-camera-r

[2017-02-15 15:02] dkimitsa commented on #103
@Try4W hi, that PR doesn't affect StoreKit, i'm still on Frameworks and as long as on HomeKit now. Had to rework parts of bro-gen that took time.

[2017-02-15 15:32] Try4W commented on #103
@dkimitsa okay. I understand.
How can I manually find&fix the problem? I can't find any differences between SKPaymentTransactionObserver Apple's docs and bro-gen generated classes.
What also can affect such crashes?
I need to meet the deadline, it is necessary to implement the IAP.

[2017-02-15 16:48] domi1504 commented on #82
I understand..
But by adding it to the Info.plist I could not solve my issue.
"Cannot resolve corresponding JNI function"
Any ideas what I could do?
When running on a simulator, the UIImagePickerController show up, and I am able to choose an image from the gallery. But when I click on it, the app crashes.

[code]

[2017-02-15 19:44] florianf commented on #103
@Try4W From the crashlogs it seems that you're using RxJava and some concurrent code. Try to remove that concurrency and/or RxJava and see if this helps.

[2017-02-15 21:29] Try4W commented on #103
@florianf good point.
I wrapped all ios-specific code with `NSOperationQueue.getMainQueue().addOperation(runnable)`

Now crashlogs looks like that:
crash on addPayment: http://pastebin.com/akF2LR19
crash on restoreCompletedTransactions: http://pastebin.com/cmHvSrUP

I will provide a simple demo in a few days if there is not enough information.

[2017-02-16 07:49] piotrros commented on #82
And what's the stacktrace?

Anyway here's my whole function to show image picker:

[code]

[2017-02-16 15:39] dkimitsa commented on #103
@TryW, it is not related to bindings but seems to be related to ObjC/Java internal bridge. Could you please create simple java sample that reproduces issue ? thanks

[2017-02-16 21:13] domi1504 commented on #82
[code]

And here is my whole function:

[code]

[2017-02-16 21:31] Try4W commented on #103
@dkimitsa I just tried on separated demo-project and I can't reproduce such exception.

The problem occurs after serializing some XMLs with SimpleXML library.
This library already created a strange problem so I'm not surprised.
I will try to find a reason and will share the information.

[2017-02-17 15:58] florianf commented on #104
Surefire Plugin was removed.

[2017-02-17 15:58] #104 closed

[2017-02-17 23:43] MrCharli3 opened #105 "after build: LOCKDOWN_E_INVALID_HOST_ID"
I recently tried to replace the original RoboVm with Mobidevelop. I replaced all the dependencies as instructed, using mobidevelop robovm 2.2.0 (tried 2.3.0 as well, same issue).
To be safe I re-made all my provisioning profiles etc. Since its been like 7 months since the last time I tried to test on an iOS device.

I can't instruct you in how to reproduce. I edited my run config to use the correc

[2017-02-18 07:17] florianf commented on #105
This issue was fixed in robovm 2.3.0, please try it with this Version.

[2017-02-18 12:02] MrCharli3 commented on #105
It is not device trust, that gives another error, something like "DIALOG_UNTRUST"-ish.

Changing to 2.3.0 did nothing for me. Here is my Gradle.Build:

`buildscript {
    repositories {
        mavenCentral()
        maven { url "https://oss.sonatype.org/content/repositories/snapshots/" }
        jcenter()
    }
    dependencies {
        classpath 'de.richsource.gradle.plugins:gwt-gradle-plugin:0

[2017-02-18 12:04] Tom-Ski commented on #105
you should be using the latest version of the Intellij/AndroidStudio plugin for this RoboVM, on 2.3.0.

[2017-02-18 12:36] MrCharli3 commented on #105
UPDATE:

I tried to reset my phone, and install the robovm plugin from disk instead. Now when my build si finished (100% finished) My entire Android Studio Crashes and shows this report:

[code]

[2017-02-18 17:00] florianf commented on #105
It seems you're getting bitten by: https://github.com/MobiDevelop/robovm/issues/55

[2017-02-18 17:01] florianf commented on #105
Closed as duplicate.

[2017-02-18 17:01] #105 closed

[2017-02-18 17:25] MrCharli3 commented on #105
so... buy a new computer? haha

[2017-02-18 17:53] MrCharli3 commented on #55
@blady214 what do you mean you "moved your VM"? Did you use the same phone? I'm stuck in the same situation

[2017-02-18 18:14] intrigus commented on #55
@MrCharli3
Can you try building robovm yourself?
If so, you can can try building libimobiledevice.

[2017-02-18 18:38] florianf commented on #105
Sorry, can't provide any more help than this. Either you get those openssl flags going as described in #55, or try to fix the issue by building your own openssl lib and linking that to your libimobiledevice.

[2017-02-18 18:38] MrCharli3 commented on #55
@intrigus
Not sure what you mean.

[2017-02-18 18:39] florianf commented on #103
Closed, not directly related to robovm. Reopen if necessary.

[2017-02-18 18:39] #103 closed

[2017-02-18 21:44] Try4W opened #106 "Generated classes not found at runtime"
#### Issue details
I use [TikXml](https://github.com/Tickaroo/tikxml) library to serialize/deserialize objects on Android/Desktop.
But on iOS a have runtime error.

modules scheme:
`ios <- core <- common`
classes generated at `common` module

**Build Tools:**
- [ ] Gradle plugin

**Versions:**

- Robovm: 2.3.0
- XCode: 8.2.1
- JDK: 1.8

**Build Targets:**

iPhone 5s physical device

---

#### Stac

[2017-02-19 02:14] ashleyj commented on #106
You might need to forcelink these classes.

If you're using robovm.xml it'd look something like:

[code]

[2017-02-19 07:05] #106 closed

[2017-02-19 08:49] Try4W commented on #103
Found the problem.

Crashes occure only after reading large data from internal storage.

for example

[code]

[2017-02-19 09:06] intrigus commented on #103
Maybe your `product` variable is only a local reference/variable, so it gets garbage collected.
It only happens after reading large data, because reading so much data triggers gc.

Just a wild guess.

[2017-02-19 09:59] blady214 commented on #55
@MrCharli3 this issue probably is caused by CPU (that was in my case) which is not supporting AVX extensions. I was working on virutal machine, so I've moved it to host with CPU supporting AVX. Check if your processor supports AVX instructions.

[2017-02-19 10:19] MrCharli3 commented on #105
@florianf Thanks for your help either way!

[2017-02-19 13:48] Try4W commented on #103
@intrigus wow, thanks!

Now I register observer like that:
[code]
where `observer` is field declarated on class level.

Is it expected behavior?

[2017-02-19 13:58] Tom-Ski commented on #103
Yes

[2017-02-19 16:22] MrCharli3 commented on #55
@blady214 Thanks, can you please tell me what service you are using for your VM? I've been trying to find a good VM for IOS, and does that VM have to be run from a Mac? If you could link me to the exact VM you are using that would be great, since that obviously works.

Also, do you have any info on how to check if my processor supports AVX? Can't find it on google.

[2017-02-19 17:49] blady214 commented on #55
@MrCharli3 I prepared the VM on my own but it's quite easy and you will find video tutorilas on YouTube. It was some time ago, so I don't remember exactly how I did it. Provide your processor name, I will try to check if it supports AVX extensions.

[2017-02-19 19:08] MrCharli3 commented on #55
@blady214 I appriciate the help!
Processor: Intel(R) Core(TM)2 Duo CPU P7350 @ 2.00Ghz
Simple name: 2Ghz Intel Core 2 Duo

[2017-02-19 19:19] blady214 commented on #55
@MrCharli3 your processor doesn't support AVX instructions. I cannot find it in specification but according to Wiki: https://en.wikipedia.org/wiki/Advanced_Vector_Extensions first processor which supports AVX was released in Q1 2011 and your processor is from Q3 2008.

[2017-02-19 19:22] MrCharli3 commented on #55
@blady214 thanks a lot, that clears that up :) I am trying the VMware now, seems easy enough *knock on wood*

[2017-02-19 19:24] blady214 commented on #55
@MrCharli3 if you will host your VM on the same host (with Intel(R) Core(TM)2 Duo CPU P7350 @ 2.00Ghz) it won't work. The host processor must support AVX.

[2017-02-19 19:40] MrCharli3 commented on #55
@blady214 Trying from my PC :)

[2017-02-20 17:42] intrigus commented on #55
@MrCharli3 are you using the intellij plugin?
If so, you can try this test build of the intellij plugin:
https://www.file-upload.net/download-12325526/org.robovm.idea-2.3.1-SNAPSHOT.jar.html

[2017-02-20 18:52] MrCharli3 commented on #55
@intrigus @blady214 Setting up a VM via the link @blady214 provided worked like a charm. I can debug on my phone now :)

[2017-02-20 19:18] florianf commented on #55
Great, thanks for your help guys!

[2017-02-20 20:07] intrigus commented on #55
@MrCharli3 could you please test the plugin I provided, again with a vm that previously failed?
I unfortunately can't test this issue myself :(

[2017-02-20 20:19] intrigus commented on #91
Can this be closed?

[2017-02-20 20:24] MrCharli3 commented on #55
@intrigus I'll give it a try tomorrow :)

[2017-02-21 15:28] Try4W opened #107 "Firebase don't catch crashes"
I write my own small Firebase binding:

[code]

And it works great:
[code]

#### Reproduction steps/code
And then I trying to throw exception when user clicks on one of the buttons in my game:
`throw new RuntimeException()`

**Build Tools:**
- [ ] Gradle plugin

**Versions:**

- Robovm: 2.3.0
- XCode: 8.2.1
- JDK: 1.8

**Build Targets:**

iPhone 5s physical device

---

According to [Firebase docu

[2017-02-21 19:46] florianf commented on #107
I'm not sure that this will work, because Java exceptions are handled inside RoboVM. I guess Firebase catches OS signals (SIGABRT) and I don't know if those are triggered when a RoboVM exception occurs.

[2017-02-24 09:58] jesusredondo commented on #102
@Majirefy
Were you finally able to solve the problem???
 I am having the same issue, please see [this post](http://www.badlogicgames.com/forum/viewtopic.php?f=11&t=25862) And I have no idea how to solve it.
Thanks!

[2017-02-24 10:45] Majirefy commented on #102
@jesusredondo No.
Still no idea…

[2017-02-24 11:01] mustii82 commented on #102
I removed the part in gradle:

ext {
	mainClassName = "net.toyknight.aeii.IOSLauncher"

    iosSignIdentity = "D305242C69E0B405BAB32F3901ADED3F56542222"

    iosProvisioningProfile = "856f1dc8-e490-4b26-a00a-80a8fa6222bg"
    iosSkipSigning = false
    stdoutFifo = null
    stderrFifo = null
}

after that you can start the build IPA part from the RoboVM plugin and fill the iosProvisioningProfile a

[2017-02-24 17:37] Try4W commented on #107
I can catch RoboVM exceptions with `Thread.setUncaughtExceptionHandler()` and then terminate app with specific OS signal. How should I crash iOS app so Firebase will detect it and save proper stacktrace?

[2017-02-25 12:27] Try4W commented on #107
Seems that `NSException.registerDefaultJavaUncaughtExceptionHandler()` do that thing that I described. I will try it.

[2017-02-25 12:49] Try4W commented on #107
[YandexMetrica](https://github.com/MobiDevelop/robovm-robopods/tree/master/appmetrica/ios) report crashes after calling `NSException.registerDefaultJavaUncaughtExceptionHandler()` but Firebase still won't catch exceptions.

[2017-02-26 11:51] Try4W opened #112 "Glitchy music"
#### Issue details
I tried to play a couple of tracks and every N seconds I hear rasp.
The same rasp I hear when my app crashed while I play music.

In main menu it happens every 2 minutes.
In game screen in happens every 6 seconds.

#### Reproduction steps/code
I use libgdx to play mp3/wav.
I tried this implementations:
[IOSSound](https://github.com/libgdx/libgdx/blob/master/backends/gdx-backend-

[2017-02-27 20:09] Try4W commented on #112
Yeah, it happens only when GC occur.
[code]

[2017-02-28 19:39] florianf commented on #112
Closed, because of discussion in libgdx issues.

[2017-02-28 19:39] #112 closed

[2017-03-03 17:12] jesusredondo commented on #102
I was able to fix this problem. I have created a tutorial for those interested in it:

[Tutorial to deploy on Andorid](https://jesusredondo.github.io/project/2017/03/03/VideoGame_design_II_Deploying_on_iOS.html)

[2017-03-03 22:53] Majirefy commented on #102
Thanks! @jesusredondo
Frankly, after reinstallation of macOS and do everything from scratch again, it works.

I don't know why…………

[2017-03-04 08:29] little-dgek opened #115 "Android Studio doesn't build"
After update Android Studio 2.3.0, it does not build a project with a error
`Error:com.android.tools.idea.gradle.util.Projects.lastGradleSyncFailed(Lcom/intellij/openapi/project/Project;)Z`

**Build Tools:**
- [*] IDEA plugin
- [ ] Eclipse plugin
- [ ] Gradle plugin

**Versions:**

Android Studio 2.3.0, mac os 10.12.3, xcode 8
RoboVM 2.3.1-SNAPSHOT
JDK  1.8.0

---

#### Stacktrace
[code]

[2017-03-06 07:51] dkimitsa commented on #107
@florianf
if you use SIGABRT reporter you should init/activate it inside
Signals.installSignals otherwise RoboVM RT will not catch any SIGABRT exceptions that are happened even in try-catch blocks. Moreover you should do initialization of all trackers that installs handlers to signals.

@Try4W please try with simple app where is just Firebase and initialization code. As there is a chance that anot

[2017-03-06 08:27] dkimitsa commented on #115
hi,
Android studio 2.3 refactored gradle classes RoboVM is using. Api are missed and classes moved into different packages.
The problem is that Idea's Android plugin is not compatible with Android Studio ones.
And it is better to wait till Idea updates it so we will be able to build code that is compatible with both Android Studio and Idea. Also this will cause old version of Idea/Android studio t

[2017-03-07 15:27] mustii82 commented on #115
same error :/

[2017-03-08 14:10] onceaether commented on #115
I am having the same issue. Anyone figured this out?

[2017-03-08 15:56] cuongdq88 commented on #115
I had same issue. I removed android studio 2.3 and using 2.2.2 version. I solved issue.

[2017-03-08 19:36] mustii82 commented on #115
You can work with 2.3 if you disable the RoboVM Plugin

[2017-03-09 07:55] dkimitsa commented on #115
it depends on Idea -- there are not compatible Android Support plugins in Android Studio and Idea.
If we fix it for Android Studio -- will break for Idea.
Best option is wait till idea updates plugin.

Created and issue there.
https://youtrack.jetbrains.com/issue/IDEA-169364

[2017-03-09 08:25] #102 closed

[2017-03-09 08:28] #91 closed

[2017-03-09 12:13] florianf commented on #37
Fixed in current master via pr #116

[2017-03-09 12:13] #37 closed

[2017-03-09 12:13] florianf commented on #54
Fixed in current master via #116

[2017-03-09 12:13] #54 closed

[2017-03-10 11:21] Tom-Ski commented on #76
This dependency is probably not compatible with android, and therefore probably not compatible with the RoboVM runtime.  Did you have success with this dependency before with RoboVM?

[2017-03-11 03:05] jessechan007 commented on #76
Hi Tom-Ski --

Yes, if you see the comments above, it runs fine with Java SE, but as I soon as I run with RoboVM, it errors out with the message above.  Any ideas?

[2017-03-11 09:02] Tom-Ski commented on #76
Java se isn't the same as android

----- Reply message -----
From: "jessechan007" <notifications@github.com>
To: "MobiDevelop/robovm" <robovm@noreply.github.com>
Cc: "Tomski" <tomwojciechowski@asidik.com>, "Comment" <comment@noreply.github.com>
Subject: [MobiDevelop/robovm] Run-time Exception with 3rd-Party Java library (HTMLUnit) (#76)
Date: Sat, Mar 11, 2017 03:05

Hi Tom-Ski --
Yes, if you see

[2017-03-13 10:35] LordTylus opened #117 "classcast Exception in UIButton.getTitleLabel()"
Hello there,

first of all, thank you for continuing the development of RoboVM.

Today I encountered a rather strange bug in my Application, which on top of all only rarely occurs. After trying to find the root for it, I figured that Its most likely not caused by me so I wanted to ask If you have any idea on how to continue searching for the root of the problem.

#### Issue details
I created a cus

[2017-03-13 11:38] LordTylus opened #118 "Possible Zombie-Objects after removing Sub-View from View"
Hello there,

Today one of my collegues showed me a problem with our app. After opening and closing a specific View several times the app just crashes to homescreen.

#### Issue details

I started with trying to check if I get any output on my console, which I sadly dont. The app just crashes and the robovm console recommends to check the device logs, which I did (see Logs below).

According to St

[2017-03-13 13:27] dkimitsa commented on #118
hi,
do you have simple code snipped to reproduce ?
thanks

[2017-03-13 13:56] LordTylus commented on #118
Hi,

sadly not. As stated, I am still trying to figure that out. So far I was not able to reproduce the Issue outside my app. But I am working on that. Most of the stuff is shared code across multiple platforms. RoboVM just has a small part in it. Which sadly is the only one that causes problems so far.

I decided to create the Issue before I have a snippet that reproduces the crash because I was

[2017-03-13 14:41] LordTylus commented on #118
Hi again, I was just able to reproduce the Issue on a simple Test-Projekt:

It appears not to be the exact same error, but it seems to be the same location where it crashes. But this time it even crashes while searching for zombies with instruments. Apart from that the behavior is the same. The app just crashes to homescreen.

I had to add and remove the subview several times until it crashes. I a

[2017-03-13 15:07] dkimitsa commented on #118
thank you for code, I met similar issue and plan to track it down.
it is related to default constructor of NSObject subclasses.
Can you please change MyWindow constructor to call not default super (for example one that takes CGRect)

[2017-03-13 15:23] LordTylus commented on #118
Hi,

thank you for your reply. Sadly after implementing your suggestion, the app still crashes for me with the same error.

It appears to be crashing not on creation of MyWindows, but on disposal of it.

I changed it as follows:

        public MyWindow(MyViewController myViewController, CGRect rect) {

            super(rect);

            this.myViewController = myViewController;

            se

[2017-03-13 15:47] LordTylus commented on #117
I now have a code that can show the problem but also not reliably:

With the code given below I was able to get the errors also noted in #118.

But Additionally I got:

java.lang.ClassCastException: Buttontest$MyWindow cannot be cast to org.robovm.apple.coreanimation.CALayer
	at org.robovm.apple.uikit.UIView.getLayer(UIView.java)
	at Buttontest$MyWindow.<init>(Buttontest.java)
	at Buttontest$MyVie

[2017-03-14 11:09] dkimitsa commented on #118
hi,
are you able to reproduce it on simulator ?
have tried both issues with version built from trunk (2.3.1) and was not able to reproduce on simulator

[2017-03-14 13:49] LordTylus commented on #118
Hi,

Sadly I seem not to be able to run the App in Simulator.

All I get is:
14.03.17 14:45:43: [ INFO] Launch done
14.03.17 14:45:43: [ WARN] warning: no debug symbols in executable (-arch x86_64)
Simulator doesnt even start.

Havent used the Simulator in a long time, since I have actual hardware to test on here.

Ill try Updating robovm to the latest version and give feedback if that fixes anyth

[2017-03-15 09:41] LordTylus commented on #118
Hi,

i just installed RoboVM 2.3.0 to be able to use the Simulator again with IOS 10 and XCode 8. I am able to reproduce the Issue there too.

After launching the App I just had to Click the Buttons for opening and closing several times. Its not crashing on first try. It took me 3 to 8 times of adding and removing the subviews by pressing the "Click Me" and Close Buttons to let it crash.

Same App

[2017-03-15 22:33] cjortegon commented on #115
I had the same problem, Android Studio 2.3 came with incompatibilities. Download Android Studio 2.2.3 [here](http://tools.android.com/download/studio/builds/android-studio-2-2-3).

[2017-03-20 20:43] MrCharli3 commented on #107
@Try4W Would you mind sharing the firebase bindings you made? I need it as well and have no clue how to do it.

[2017-03-22 11:31] mariamKh opened #121 "Crash at ReplayKit RPScreenRecorder.getSharedRecorder().discardRecording"
Hi,

I'm developing a LibGDX game, running on iOS RoboVM SDK 2.3.0, XCode version 8.2.1, project JDK 1.8, running on iPad 64 bit (iOS 10.2.1). In my game I need to have video recording feature, so I use ReplayKIt for it. After video recording player has "Discard" and "View" options. "View" works fine, but when clicking "Discard", app always crashes on this line:

RPScreenRecorder.getSharedRecorder

[2017-03-30 19:32] Try4W opened #122 "Appodeal and YandexMetrica duplicate symbol"
#### Issue details
I trying to integrate Appodeal in app which already uses YandexAppMetrica.
As I understand, Appodeal already incluide YandexAppMetrica.

If I setup robovm.xml like this:
[code]
![image](https://cloud.githubusercontent.com/assets/5736157/24522319/dbc1a93c-1597-11e7-9a09-78c03d31495c.png)

Here is what I got in output: (compile time error)
[code]

I also tried to remove `YandexMob

[2017-03-31 16:40] Longri opened #123 "Xcode 8.3 shows linker warnings"
#### Issue details
Compile error
#### Reproduction steps/code
create project with LibGdx-Setup.jar  and RUN
with DEBUG IntelliJ freezes

**Build Tools:**
- [*] IDEA plugin 2.3.1
- [ ] Eclipse plugin
- [] Gradle plugin

**Versions:**

_Please provide the version of RoboVM, XCode and JDK used_
- Robovm: 2.3.1
- XCode: 8.3
- JDK: 1.8.0_101

**Build Targets:**

 iPhone 5

---

#### Stacktrace
Only a f

[2017-03-31 16:50] little-dgek commented on #115
Any body try to update AS 2.3 back?

[2017-03-31 18:05] ericnondahl commented on #123
Saw this as well, temporarily downgraded to xcode 8.2

[2017-03-31 19:17] rami-alisawi commented on #115
I am facing the same problem, however, I created a new project using libgdx setup jar and it works on the same Android studio (v2.3) how come? Is it only effecting projects that are created before the update to v2.3.

[2017-03-31 19:21] florianf commented on #123
Hi, since this is only a warning, are there any other fatal messages? Does the release build work?

[2017-03-31 21:12] Longri commented on #123
no build works!
But now I have a Stacktrace :

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':ios:launchIOSDevice'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:84)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.

[2017-03-31 21:27] ericnondahl commented on #123
The pointer warnings do not seem to be a blocking issue for me as far as I can determine right now. Running from eclipse on a device and building an IPA still functions, `ld` just seems to print out thousands of new "pointer not aligned" warnings with xcode 8.3.

[2017-03-31 22:17] Longri commented on #123
"gradle ios:createIPA"   works and ipa run's on iOS 10.3

[2017-04-01 15:07] Try4W commented on #122
Fixed.
this binding: https://github.com/MobiDevelop/robovm-robopods/tree/master/appmetrica
contains `robovm.xml` which include `<framework>YandexMobileMetrica</framework>`
I just downloaded binding's sources and added it manually without it's `robovm.xml`. Now I can successfully use YandexMobileMetrica included in Appodeal without this error:
`ld: framework not found YandexMobileMetrica`

[2017-04-01 15:07] #122 closed

[2017-04-01 15:46] Try4W opened #124 "Appodeal won't work"
#### Issue details

Firstly I initialize Appodeal in `didFinishLaunching()`:
[code]

there is how I trying to show ad:
[code]

But ad didn't shown. Console output:
[code]

binding sources:
[code]

[code]

[code]

[code]

[code]

**Versions:**

- Robovm: 2.3
- XCode: 8.3
- JDK: 1.8

**Build Targets:**

 iPhone 5s physical device

[2017-04-02 13:55] orangepascal commented on #123
same issue on intellij, and for me it hangs on all the "pointer not alligned" issues.
also downgrading to 8.2 fixes it, but then you can't build/test on devices running ios 10.3

[2017-04-05 17:53] florianf commented on #123
Just tested with Eclipse, the warnings are spit out, but launching works. Changed the title of the Bug to reflect the issue.

[2017-04-05 18:02] Longri commented on #123
With xcode 8.3 and iOS 10.3?
Idea PlugIn doesn't work!Tested  with PlugIn Snapshot  from 3.4.

[2017-04-05 18:37] florianf commented on #123
@Longri Yes, works with XCode 8.3 & iOS 10.3 Simulator. I just pushed a commit which removes the linker warnings by ignoring them, unless we find a better solution.

[2017-04-05 18:37] #123 closed

[2017-04-05 18:41] florianf opened #125 "Linker warnings XCode 8.3"
The new XCode linker produces thousands of warnings for use of unaligned pointers. It seems every pointer to a [infostruct] structure produces this error, f.ex.

`ld: warning: pointer not aligned at address 0x1019F7306 (_[j]org.robovm.apple.uikit.UITableView[infostruct] + 2454 from /Users/generalsolutions/.robovm/cache/ios/x86_64/release/Users/generalsolutions/Documents/projects/robovm/compiler/co

[2017-04-05 19:13] Longri commented on #123
Can you create a new Snapshot?
I will check!

[2017-04-06 13:48] LordTylus commented on #117
Hello,

sorry for the late replay. I just tested the Issue on robovm 2.3.1 and was not able to reproduce it there anymore.

My IPad Air and the IOS Simulator just worked fine with it.

So I consider this Issue to be resolved.

[2017-04-06 13:48] #117 closed

[2017-04-06 13:54] LordTylus commented on #118
Hello there,

I am sorry for the late reply. I tested the issue again today with the lastest RoboVM snapshot (2.3.1)

It works fine on IOS-Simulator.
On my IPad Air it also did not occur anymore, but after some time I encounter a waiting period of somewhat about 30 seconds. I Guess it has something to do with Garbage collection, since I am creating a lot of it in the testcode above.

For now Ill r

[2017-04-06 13:54] #118 closed

[2017-04-06 15:41] StefanOltmann opened #126 "Eclipse Plugin not working with iOS 10.3.1"
#### Issue details
Since the update to iOS 10.3.1 the eclipse plugin stopped working.
RoboVM worked with iOS 10.3 before.

#### Reproduction steps/code
I selected "Run on iOS Device" from the eclipse "Run..." menu and everything runs
normal until it stops at 90% of the upload stage ("GeneratingApplicationMap").

#### Configuration
Eclipse Luna on a Mac Mini.

**Build Tools:**
- [ ] IDEA plugin
- [

[2017-04-06 22:00] ruffiely commented on #115
So is idea working? Or does anyone have an osx android studio 2.2?

[2017-04-07 14:59] StefanOltmann opened #127 "BUG: <stripArchives> does not work from robovm.xml"
This feature seems to only work from command line.

I tried to fix that bug by looking into this problem but the only thing
I found out is that it's falling back to the two default patterns.

@intrigus Can you please take a look why this does not work?

[2017-04-07 21:33] Longri commented on #123
Sorry but I have try it again with a new system.
New Sierra, new XCode.....
App is compiled and installed on device (10.3),but it doesn't start and Idea has hung up.
The App can started from device and runs normal.

[2017-04-08 13:47] Try4W commented on #124
It was ad net's problem

hint: set log level to debug

[2017-04-08 13:47] #124 closed

[2017-04-08 13:50] Try4W commented on #107
@MrCharli3
it very small and built only for initialization purposes.

[code]

[2017-04-08 13:50] Try4W commented on #107
@dkimitsa thanks, I will try it. But for now I using AppMetrica for catching exceptions on ios.

[2017-04-09 12:10] intrigus commented on #127
Do you by chance have a small sample app?

[2017-04-09 12:55] StefanOltmann commented on #127
Not right now. I don't think that you need that to prove it.

Just define something like this in your robovm.xml:
<stripArchives>
  <include>this/is/a/include_test</include>
  <exclude>this/is/a/exclude_test</exclude>
</stripArchives>

I found out that this has no impact by any means as in [AbstractTaget on line 526](https://github.com/MobiDevelop/robovm/blob/master/compiler/compiler/src/main/java

[2017-04-10 12:48] moksalahti commented on #84
This thread saved my day as well. Thanks, @florianf !

[2017-04-13 19:35] florianf commented on #127
@intrigus Can you take a look at this?

[2017-04-13 19:50] intrigus commented on #127
I'm busy currently but I'm trying to have a look at it soon.

[2017-04-14 07:48] johanvos commented on #126
I don't use the Eclipse plugin, but when using AppCompiler.launcAsync on iOS 10.3.1 I see that at 90% installing, org.robovm.libimobiledevice.Callbacks.callInstproxyCallback is called with a dict that doesn't contain "Status". That then generates a NullPointerException.

[2017-04-14 19:33] florianf commented on #126
@johanvos Thanks for the pointer. Could you investigate the issue further and maybe provide a PR? I'm nowhere near an actual device for some time.

[2017-04-15 17:57] johanvos commented on #126
The simple PR below fixes it for me, but I'm not happy with it. It is probably better to change the underlying native code that calls this Java callback function.  Here is a related issue: https://github.com/libimobiledevice/ideviceinstaller/issues/70
[code]

[2017-04-16 13:02] florianf commented on #126
Thanks again, I'll have a look at it.

[2017-04-23 08:58] florianf commented on #126
Fixed with simple null check, waiting for changes in libimobiledevice.

[2017-04-23 08:58] #126 closed

[2017-04-25 18:27] florianf opened #128 "Linenumbering doesn't work with Lambda Expressions"
Currently linenumbers are not correct when using Lambda expressions.

The necessary LineNumberTags are not correctly copied in the generated bytecode expressions in  LambdaPlugin.java

[2017-04-27 23:26] EmmettGGI opened #129 "simlauncher[1214:46685] ERROR:"
#### Issue details
I click try to build as an ios application using robovm and I get this error. The simulator does not launch and I have no stack trace.

**Build Tools:**
- [ ] IDEA plugin
- [x] Eclipse plugin
- [x] Gradle plugin

**Versions:**

_Please provide the version of RoboVM, XCode and JDK used_
- Robovm: 2.3.1-SNAPSHOT
- XCode: 8.3.2
- JDK: 1.8

**Build Targets:**

Will not even launch s

[2017-04-28 03:52] hoangtunho2611 commented on #129
I've had this problem. And I solved it by downgrade xcode version to 8.2.3.

(I use android studio but this problem is due to xcode )

[2017-04-28 04:03] hoangtunho2611 opened #130 "Android Studio hang after build to iphone 5S device."
#### Issue details
I test my game on simulator. It's ok.
When i test on iphone 5s device (iOS 10.3.1), build ok. I can open my game on my iphone and play it. But Android studio tool is hang. Can not do anything else. I have to quit android studio and reopen.

I have detailed description at the link:
http://badlogicgames.com/forum/viewtopic.php?f=11&t=26347

**Versions:**

_Please provide the versi

[2017-04-28 11:40] MrCharli3 commented on #115
Same issue, and you can't download old AS versions from [here ](http://tools.android.com/download/studio/builds/android-studio-2-2-3)anymore

[2017-04-28 11:42] ruffiely commented on #115
I switched to Multi OS Engine for ios development and don't have any problems with it on android studio

[2017-04-28 11:49] MrCharli3 commented on #115
Okay, I will not be doing that, have no interest in re-writing all my code. So still looking for some place to download old AS version

[2017-04-29 07:57] tianqiujie commented on #129
8.2.1 ?

[2017-04-29 14:49] EmmettGGI commented on #129
Yah it seems to work now that I switched to an older xcode.

[2017-04-29 15:47] boapps commented on #115
Here is the [old AS](http://android-studio.en.uptodown.com/mac/download/1172101).

[2017-04-30 11:09] florianf commented on #128
According to debbuger Tests it Works.

[2017-04-30 11:09] #128 closed

[2017-05-01 15:00] hoangtunho2611 commented on #129
Sorry, i am writing the wrong xcode version. Downgrade xcode version to 8.2.1.

[2017-05-03 15:41] fwolff opened #132 "Support the "framework" target type to build iOS libraries"
Hello,

Are there any plans for supporting the "framework" target type (like in the [AnswerMe sample](https://github.com/robovm/robovm-samples/tree/master/AnswerMe)) in this fork?

Thanks,
Franck.

[2017-05-03 17:26] ericnondahl commented on #127
Also running into this issue. In `compiler/config/Config.java`, `build()` checks for a null `stripArchivesBuilder` and then uses the default stripArchives config if the builder is null. However, the config has already been initialized by the xml serialization when it comes from robovm.xml - no `stripArchivesBuilder` required in this case. This check overrides any custom configuration in robovm.xml

[2017-05-03 18:21] ericnondahl commented on #127
Had some formatting issues, but created a PR for this: https://github.com/MobiDevelop/robovm/pull/133

[2017-05-04 16:21] hoangtunho2611 commented on #55
@blady214 , @MrCharli3

Have you ever had problems like me in the link below?
http://badlogicgames.com/forum/viewtopic.php?f=11&t=26347
How do I solve it? (Windows 10 64bit and Intel Core i7 6700HQ)
Thanks,

[2017-05-04 17:47] Longri commented on #55
I have the same problem and now i'm try switch to MOE!
But I hope that will be fixed on RoboVm!

[2017-05-04 21:29] joerg-wille opened #134 "public maven-repository for snapshot versions"
I am using the current version of javafxports, which make use of robovm-dist-compiler:2.3.0
I am having the same error as described here: http://www.badlogicgames.com/forum/viewtopic.php?f=11&t=26106

I read that the problem has already been fixed in the current master. Is the snapshot version available from some public maven-repository?

[2017-05-04 22:04] joerg-wille commented on #134
ok, my fault.
snapshots are available on:
https://oss.sonatype.org/content/repositories/snapshots/com/mobidevelop/robovm/robovm-dist-compiler/2.3.1-SNAPSHOT/

I just had to enable snapshots repositories in gradle:
repositories {
    maven {
        url 'https://oss.sonatype.org/content/repositories/snapshots'
    }
}

[2017-05-04 22:04] #134 closed

[2017-05-05 08:11] florianf commented on #132
Currently there are no plans for supporting frameworks, this was a commercial RoboVM feature. If someone likes to step up, I'll happily merge PRs!

[2017-05-05 08:12] florianf commented on #127
Merged the PR, so closing this.

[2017-05-05 08:12] #127 closed

[2017-05-05 14:44] dthommes commented on #129
Please clarify: Is RoboVM using this executable of the simlauncher?

https://github.com/multi-os-engine/moe-ios-simulator-launcher

If this is the case, the following commit might resolve the problem:

https://github.com/multi-os-engine/moe-ios-simulator-launcher/compare/moe-1.3.2...master

--> I am having no problems with launching MOE-Apps on my actual configuration (XCode 8.3).

[2017-05-05 15:32] dthommes commented on #129
O.k. I can acknoledge, that the new simlauncher as mentioned above solves the issue.

Workaround for Eclipse: Build the simlauncher from the above repo and place it in:

`<Workspace>/.metadata/.plugins/org.robovm.eclipse.ui/robovm-2.3.0/bin`

[2017-05-09 07:50] fwolff commented on #132
Ok. I'll try to have something working asap and to submit a PR.

[2017-05-09 14:56] #129 closed

[2017-05-09 14:57] Tom-Ski commented on #129
Issue should be resolved in 2.3.1-SNAPSHOT and release builds.

[2017-05-11 06:29] #130 closed

[2017-05-11 07:54] piotrros commented on #115
Hi, when can we except a fix for this issue?

[2017-05-11 18:35] florianf commented on #115
Hi @piotrros, I don't think that anyone is currently working on this issue. Any help appriciated!

[2017-05-11 18:38] florianf commented on #76
Closing this, it seems HtmlUnit is not compatible with Android, and RoboVM uses the Android Runtime. For reference see this SO thread: http://stackoverflow.com/questions/14885422/how-to-use-htmlunit-with-my-android-project

[2017-05-11 18:38] #76 closed

[2017-05-11 19:17] mustii82 commented on #115
We are officially waiting that InteliJ also use the new Android plugin from the current Android Studio version.

[2017-05-13 20:53] Try4W opened #135 "Support changing robovm.properties's properties via gradle build script"

[2017-05-14 15:52] florianf commented on #135
I think this is already possible in gradle? A quick google search turned this SO thread up: http://stackoverflow.com/questions/9035356/how-can-i-transform-a-properties-file-during-a-gradle-build
Although I'm not a gradle expert.

[2017-05-15 10:33] fwolff commented on #132
See [PR 136](https://github.com/MobiDevelop/robovm/pull/136).

[2017-05-16 14:02] tarslangil opened #138 "Crast at GameCenter Login on Device"
#### Issue details
There is a problem with GameKit on iOS Devices.I tried on Simulator and it works as intended.It crashes.

#### Reproduction steps/code
[code]

**Build Tools:**
- [x] IDEA plugin

**Versions:**
Latest RoboVM Version 2.3.1

**Build Targets:**
iPod Touch 5G 9.3.5

---

#### Stacktrace
java.lang.ExceptionInInitializerError
	at com.dev.IOSLauncher.createApplication(IOSLauncher.java)

[2017-05-16 17:19] Tom-Ski commented on #138
This has been resolved in 2.3.1. Please make sure you have updated dependencies and plugins, clear your cache and retry.

[2017-05-16 17:19] #138 closed

[2017-05-18 14:37] dkimitsa commented on #115
hi,
here is pre-release idea build with debugger, I've just ripped all the blocking code as it doesn't affect robovm much and it is now working. Please let me know and if there is no any issues I will create pull request for it.
https://goo.gl/4Kptlm

[2017-05-19 10:45] dkimitsa commented on #121
hi,
this hole is deeper than just RPScreenRecorder, there is no signature is generated for blocks and there is a risk that with one of apple updates all blocks will stop working. I will proceed with implementation somewhere next week

[2017-05-21 21:53] clydebarrow commented on #115
In case anyone's interested, I found a work-around for this problem.
I'm using this with Android Studio 2.4 EAP so I get to use Java 8 features in both the ios and Android versions.
With ios and Android apps as modules within the same project, I got the error as described by the OP. So I split my ios and Android modules out into separate Android Studio projects, one of which imports the common cod

[2017-05-22 06:31] tianqiujie commented on #115
Hi, still a bug ?

[2017-05-22 12:20] fwolff opened #140 "App crashes when Runnable / VoidBlocks are called from a background thread (aka RoboVM issue #1109)"
Application crashes with a bad access error when runnables or void blocks (Swift closures or Obj-c function pointers) are called from a background Java thread (e.g. a libgdx OpenGL thread). This issue was first reported as [#1109](https://github.com/robovm/robovm/issues/1109) in the original RoboVM project and fixed in version 1.11.

I have been able to trace back this issue in RunnableAsObjCBlock

[2017-05-22 15:35] mattia opened #143 "iCloud entitlements not stripped when generating Entitlements file in IPA"
#### Issue details
When adding the following Entitlements.plist file
[code]
Submitting the generated IPA to the AppStore fails with errors like:

The issue seem to be like [this one from the FB buck build system](https://github.com/facebook/buck/issues/798) which seems to be resolved by not adding some hard coded values when copying the plist file ([see the commit here](https://github.com/LegNeato

[2017-05-22 16:13] florianf commented on #143
Hey, thanks for tracking this down!

You could take a look at the getOrCreateEntitlementsPList in org.robovm.compiler.target.ios.IOSTarget class. There we could filter out those hardcoded values like facebook did it?

Wanna give it a shot?

[2017-05-22 19:53] florianf commented on #140
Fixed by merging the PR.

[2017-05-22 19:53] #140 closed

[2017-05-22 19:57] florianf commented on #132
Closing this, PR merged.

[2017-05-22 19:57] #132 closed

[2017-05-23 08:14] mattia commented on #143
Thanks for the quick answer! In my wandering in the codebase I already though that the place you pointed me was the correct place. I'm writing a fix and will submit a PR in the following hours.

Have a nice day!
Mattia

[2017-05-23 08:22] mattia commented on #143
I've created a pull request (https://github.com/MobiDevelop/robovm/pull/144). It seems to be semantically correct but when trying to use the `build.sh` script it fails complaining about some dependencies. Is anyone able to verify the PR?

Thanks again for all the goodies.
Have a nice day!
Mattia

[2017-05-23 12:17] LordTylus opened #145 "Add Support for AVCapturePhotoOutput since AVCaptureStillImageOutput is deprecated"
Hello there,

at the moment I am struggling with Camera, Frame and Video Capturing in IOS. A separate "Help Wanted" Issues will be opened later, since I am a little bit confused right now.

#### Issue details
I want to Capture Camera frames in my App and except from recording a Video and extracting the frames via AVCaptureVideoDataOutputSampleBufferDelegate I only have AVCaptureStillImageOutput to

[2017-05-23 12:52] LordTylus opened #146 "AVCaptureVideoDataOutputSampleBufferDelegateAdapter not working when App uses more then 32 Mb of RAM"
Hello there,

at the moment I am trying to get the video frames captured by the camera for performing some qr/barcode scanning. But I have encountered problems which I cannot quite explain:

#### Issue details
I create a AVCaptureSession for capturing the frames which will be processed using didOutputSampleBuffer in my BufferDelegate implementation

You can find the whole code below: My problem wi

[2017-05-23 19:13] #143 closed

[2017-05-23 19:29] florianf commented on #145
Hi,

@dkimitsa did a great job updating many frameworks for iOS 10, but not everything is completed because of the vast iOS API surface.

For adding new classes take a look at the https://github.com/MobiDevelop/robovm/blob/master/compiler/cocoatouch/src/main/bro-gen/avfoundation.yaml
bro-gen parses this file and creates the necessary binding files, further info is on the wiki: https://github.com/M

[2017-05-24 12:38] LordTylus commented on #146
Hello,

I spent the day so far with further investigations and it seems that my robovm.ini in my applications resources (which does not exist in my test app) causes the issues with not working.

I set ms128m (because we do lots of data processing that requires a lot of RAM) but if that option is set the didOutputSampleBuffer() Method does not work properly.

Now I need to figure out how to fix tha

[2017-05-24 13:47] LordTylus commented on #146
I increased the memory in the robovm.ini to ms256M which appreas to work only when I directly start the capturing in my Apps main menue.

And that only works as long as the allocated heap size stays under 32 MB. As soon as I reach 32 MB I get strange and random Nullpointer exceptions in methods what are never called and also dont have any implementation.

As soon as I allocate more then 32MB all f

[2017-05-24 14:29] LordTylus commented on #146
I created the code below.

Executing it as it is works fine. But when exceeding the 32MB RAM (By uncommenting the strings list and the produce garbage part) it will only output like 3 frames before dropping every other buffer.

[code]

[2017-05-25 08:47] Berobasket commented on #115
I have the same problem, yesterday I updated Android Studio to 2.3 version. Unfortunately Android Studio Project site does not provides downloads anymore (http://tools.android.com/)  and 2.2.3 version is not available to download from official Android Studio site (https://developer.android.com/studio/archive.html). Where can I download Android Studio 2.2.3? Could someone share installer for mac to

[2017-05-25 08:53] dkimitsa commented on #125
investigated and the issue of these are packed structures of class info, which contains bunch of pointers.
the solution is remove packed structure flags from class info and modify bc runtime to handle padding between structure members.
this is not critical and I would postpone it

[2017-05-25 09:06] tianqiujie commented on #115
@Berobasket
http://android-studio.en.uptodown.com/mac/download/1172101

[2017-05-25 10:24] #121 closed

[2017-05-25 10:34] florianf commented on #125
Allright. You think the use of the union unaligned in packed.h is the culprit?

[2017-05-25 10:35] florianf commented on #115
Should be fixed in current master, thanks to PR #148 by @dkimitsa !

[2017-05-25 10:35] #115 closed

[2017-05-25 10:40] #135 closed

[2017-05-26 07:24] dkimitsa commented on #125
on ARM accessing bus-wide operands on not bus aligned address is time expensive operation but as it is related to class info data structure that is accessible only during class load it would not dramatically reduce the performance. Anyway this implementation is in place from very beginning. The only change is the linker which started complaining about it )

[2017-05-26 14:50] dkimitsa commented on #145
@florianf have spent some time to add 10.3 apis to cocoa touch library, the progress can be observed here https://github.com/dkimitsa/robovm/tree/ios10_3
 AVFoundation is ready if topic starter is willing to pick changes and build it for himself

[2017-05-26 15:33] LordTylus commented on #145
Hi,

looks cool I will check it out next week.

[2017-05-26 19:20] alexandr2levin opened #150 "Large RAM usage"
#### Issue details
Since I use Appodeal for my iOS-app my MacBook Pro 2015 8GB have troubles with compiling it.

Here is my frameworks list:
[code]

Robovm also prints a lot of warning in console:
[code]

For example, let's run `createIPA` task.

The first build: (Total time: 11 mins 20.685 secs)
![image](https://cloud.githubusercontent.com/assets/5736157/26509309/dd5b2d72-4260-11e7-990c-1613a76f2

[2017-05-26 19:35] florianf commented on #150
Hey, please try updating to 2.3.1, to remove the linker warnings.

[2017-05-29 06:06] LordTylus commented on #146
@florianf I renamed the Issue to match my latest discoveries. I suppose the callback not working has something to do with the RAM usage of the App.

At least for IOS 10.1 it seems to be broken. Ill try updating my IPad to 10.3 maybe that helps.

[2017-05-29 07:31] bnj4 opened #151 "TLS 1.2 not working on iOS"
#### Issue details
We made a libgdx-project with a https-connection. The backend server supports limited TLS 1.0 (preferred TLS 1.2) but the robovm version doesn't work on iOS 10. the same project on android can establish the https-connection.

#### Reproduction steps/code
HttpRequest httpRequest = requestBuilder.newRequest().method(HttpMethods.GET).url(myURL).build();
Gdx.net.sendHttpRequest(http

[2017-05-29 12:39] florianf commented on #151
Hi!

Are you sure it's because of TLS 1.2?

From the sparse error it seems the RoboVM runtime doesn't know the certificate, the root certificate or one of the intermediate certificates due to its Android 4.4 based runtime.

For details:
https://stackoverflow.com/questions/6825226/trust-anchor-not-found-for-android-ssl-connection#16302527

[2017-05-29 12:45] florianf commented on #146
Hi,

it seems you're hitting a problem with the GC.

The only idea I have, is to minimize the allocations for every frame and to dispose everything manually when you're done.  So try to reuse CIImage, CGImage and the like if possible.

[2017-05-29 12:52] dkimitsa commented on #145
https://github.com/MobiDevelop/robovm/pull/152

[2017-05-29 13:00] dkimitsa commented on #151
@florianf there is a chance that robovm doesn't have this root/intermediate certificate to trust to.
it embeds bunch of root ones in compiler/cacerts folders but these could be years old and new ones might be missing.
there are other questions: why there are 140 certificates there, while android contains only 8
https://android.googlesource.com/platform/system/ca-certificates/+/android-7.1.1_r40

w

[2017-05-29 13:03] dkimitsa commented on #151
there is an issue at robovm account #28 about SSL certs, it is as old as 2013 with status "we will need to look into that some day"

[2017-05-29 13:41] florianf commented on #151
Yeah I was thinking the same. But the are def. more than 8 certs in android, take a look in the folders (8 certs were changed in the last commit):

https://android.googlesource.com/platform/system/ca-certificates/+/android-7.1.1_r40/files/
https://android.googlesource.com/platform/system/ca-certificates/+/android-7.1.1_r40/google/files/

[2017-05-29 13:52] florianf commented on #151
@bnj4 You could try to update the certs from the two android links above in https://github.com/MobiDevelop/robovm/tree/master/compiler/cacerts/full/src/main/resources/cacerts and build a new robovm-cacerts-full.jar and take a look if this fixes your problem.

[2017-05-29 15:13] LordTylus commented on #146
Hi, The problem is:

I observed the whole behavior via instruments and according to that it cleans up everything perfectly as long as I am under these magic 32 mb of ram usage. Also I dont experience any framedrops what so ever. The maximum I tested was letting the capture run for 30 minutes. The average ram usage stayed constant. No leaks.

Therefore I havent tried reusing my objects. I mean that

[2017-05-29 18:06] sszigeti opened #153 "Broken links in "iOS 10 and XCode 8 compatibility" doc"
Both "Eclipse plugin update URL" and "IntelliJ IDEA plugin builds" links are 404 at https://github.com/MobiDevelop/robovm/wiki/iOS-10-and-XCode-8-compatibility

[2017-05-29 21:13] florianf commented on #153
Fixed, thanks!

[2017-05-29 21:13] #153 closed

[2017-05-29 21:34] florianf commented on #145
Fixed via PR 152.

[2017-05-29 21:34] #145 closed

[2017-05-30 10:12] LordTylus commented on #146
Hello,

After browsing a little bit in the Xamarin forums I came across an article which recommanded calling the Garbage-Collector manually. I remember that doing a System.gc() helped some times in the past so I gave it a shot.

I surrounded my whole code in the didOutputSampeBuffer() Method with a try-finally and did a System.gc() after processing each frame.

I almost got no framedrops and it al

[2017-05-30 10:12] #146 closed

[2017-05-31 09:31] bnj4 commented on #151
thanks a lot. We will give it a try and give you feedback as soon we have news. :)

[2017-06-01 09:16] bnj4 commented on #151
for now, we still can't get a https-connection. we included the robovm-cacerts-full.jar also with manually adding the corresponding certificates, but this doesn't solve our problem.
the error report is still the same.

more information we can give:
- the https-connection works with the android app, only on iOS it isn't working
- we don't think it's because of TLS 1.2, but TLS 1.0 and not correspon

[2017-06-01 13:10] joerg-wille opened #154 "Installation fails at [ 40%] VerifyingApplication when two devices are connected"
I am using javafx ports to build an iOS App, which uses "jfxmobile-plugin:1.4.1-SNAPSHOT"
This does work for a small POC but on a real Application I get:
 "org.robovm.libimobiledevice.LibIMobileDeviceException: ApplicationVerificationFailed" error!
Any idea, what I am doing wrong?
Best regards,
Joerg

**Versions:**
XCode 8.3.2
gradle:1.1.3
robovm-dist-compiler:2.3.1
org.javafxports:dalvik-sdk:8.60

[2017-06-01 16:33] florianf commented on #151
Sorry, can't help further. My TLS knowledge is very limited.

[2017-06-01 18:42] florianf commented on #154
Mostly this means, something wrent wrong with your provisioning profile or the like. What I usually do, is to create a simple application in Xcode, set the 'Bundle Indetifier' and Provisioning Profiles to that of the Robovm app, and try to run / build it. Xcode reports detailed errors.

[2017-06-02 09:25] EDG5000 opened #155 "Update URL pointing to update site [documentation issue]"
The Eclipse release update site URLs on the following pages:

- https://github.com/MobiDevelop/robovm/wiki/iOS-10-and-XCode-8-compatibility
- http://robovm.mobidevelop.com

Point to the URL:
http://robovm.mobidevelop.com/downloads/releases/eclipse

While they should be linking to:
http://robovm.mobidevelop.com/downloads/releases/eclipse/2.3.1/site/site.xml

The snapshot URL does link to the actual

[2017-06-02 10:55] joerg-wille commented on #154
Solved!
Problem has nothing to do with small or big applications, but with:
 **more than 1 devices connected**!

With **2 devices connected** (1. iPadPro via USB,  2. iPhone via Air) -> Not working!

12:39:07.995 [INFO] [org.gradle.api.Task] codesign -f -s 6266EFD225D1F3E6043F120B856349CBE770487C --entitlements /Users/joerg/NetBeansProjects/EqWidgetTest/build/javafxports/tmp/ios/Entitlements.plist

[2017-06-02 19:21] florianf commented on #154
Thanks for the info! Does picking a device by UID fix your problem, see PR https://github.com/MobiDevelop/robovm/pull/139 ?

[2017-06-02 19:24] florianf commented on #155
Thanks for the pointer. Fixed it in the wiki article, @Tom-Ski could you update the website too?

[2017-06-06 04:39] vnshine opened #156 "need push notification in Robovm"
Any one working on notify in robovm mobidevelop ?
i need plugin for gcm or firebase in my app

[2017-06-06 18:24] florianf commented on #156
Dupe of https://github.com/MobiDevelop/robovm-robopods/issues/36 and https://github.com/MobiDevelop/robovm-robopods/issues/32

[2017-06-06 18:24] #156 closed

[2017-06-07 14:01] Longri opened #157 "Xcode 8.3.3 launch problem"
**Build Tools:**
- [x] IDEA plugin
- [ ] Eclipse plugin
- [ ] Gradle plugin

**Versions:**

_Please provide the version of RoboVM, XCode and JDK used_
- Robovm: org.robovm.idea-2.3.1-plugin-dist
- XCode: 8.3.3
- JDK:

**Build Targets:**
iPhone 5S
---

#### Stacktrace
[code]

[2017-06-09 21:10] rdamiano opened #158 "AudioBuffer / AudioBufferList Missing Constructors"
This was something fixed late in development of OLD RoboVM, after going closed-source.

After the fix, this code in OLD RoboVM worked perfectly:
[code]

In MobiDevelop's RoboVM, **this is no longer possible** since AudioBuffer / AudioBufferFillList **have no valid constructors**:

[code]

This ^ code doesn't work at all and crashes.

I actually brought this up in support back when RoboVM was offic

[2017-06-12 12:43] dkimitsa commented on #157
please check if you have installed dev tools altogether with Xcode 8.3.3
 xcode-select --install

also create a simple project in Xcode and start it on simulator, after this it should start working

[2017-06-12 13:00] dkimitsa commented on #158
https://github.com/MobiDevelop/robovm/pull/160

[2017-06-12 13:05] Longri commented on #157
After starting a simple XCode project and reloading ????(I don't know what XCode have downloaded),  everything works again!
Thank you!

[2017-06-12 13:05] #157 closed

[2017-06-12 13:06] dkimitsa commented on #151
btw, have you validated backend's SSL configuration with any SSL checker available online ?

[2017-06-12 15:12] rdamiano commented on #158
Oh cheers @dkimitsa that seemed simple enough, thanks.

I realize I now need to wait for the pull request/commit/build etc so I just want to bring up the fact that the AudioBufferList second constructor is also missing (https://developer.apple.com/documentation/coreaudio/audiobufferlist). I bring this up because I'd hate to wait for the next build and then have it still not working.

I feel like t

[2017-06-12 15:36] dkimitsa commented on #158
I see the issue now, will take a look tomorrow

[2017-06-12 18:08] stickyd opened #162 "NullPointerException within CADisplayLink using OnUpdateListener"
#### Issue details
Create a `CADisplayLink` with the `OnUpdateListener` constructor, add it into the main run loop. When the handler fires, a `NullPointerException` is thrown from within the `CADisplayLink.ListenerWrapper`, for a null value of the `listener` field.

Running through `CADisplayLink.java` it doesn't look like this should be possible. The field is null checked when created, and set in

[2017-06-12 19:49] #158 closed

[2017-06-12 20:10] #155 closed

[2017-06-13 10:38] dkimitsa commented on #158
@rdamiano https://github.com/MobiDevelop/robovm/pull/163

[2017-06-13 11:00] dkimitsa commented on #162
can you share sample project please ? as it works as expected for me on debugger branch

[2017-06-13 11:03] rdamiano commented on #158
@dkimitsa Thanks a lot really appreciate your help with this stuff!

[2017-06-13 15:56] stickyd commented on #162
Hm, there must be something else influencing this. When I tried in a separate project, both methods are ok. But I've confirmed again it's broken when I mix it into my other project.

In both projects I'm attaching it in the application's `didFinishLaunching`. I'll keep looking into it from my side, though the selector option works just fine, should this ticket be closed for now?

[2017-06-13 18:35] florianf commented on #162
I'll close this for now. If you found the root cause, feel free to reopen it. Thanks for the info.

[2017-06-13 18:35] #162 closed

[2017-06-13 18:37] florianf commented on #158
Merged the PR.

[2017-06-14 09:30] bnj4 commented on #151
We made more tests and at the end we determine that the problem is SNI (server name indication). Our server is hosted on a virtual server and the hostname is not corresponding our domain.

**we tested with ssllabs.com**
all the safari and iOS are working. so, as native iOS works, could it be the implementation of robovm at this point?

[2017-06-14 10:24] dkimitsa commented on #151
can you share an endpoint to test ? you can send it in private gitter message

[2017-06-14 18:41] rdamiano commented on #158
@dkimitsa @florianf Cool thanks a lot guys this was the only thing holding me up for moving to MobiDevelop's RoboVM. If I can be a nuisance one last time when do you think the next snapshot build will happen so I can compile with these merged changes?

[2017-06-15 06:52] dkimitsa commented on #158
you can build RoboVM yourself for now it is quite easy

[2017-06-15 08:43] Nio01 opened #166 "New release"
Could you please relase a new version of robovm? There is some fixes that I need...
Thanks

[2017-06-15 11:23] dkimitsa commented on #151
hi, have checked the endpoint. as it was mentioned there is Comodo cert is missing in cacert and it is untrusted.
This one: CN=COMODO RSA Certification Authority, O=COMODO CA Limited, L=Salford, ST=Greater Manchester, C=GB
hash code: d4c339cb.0

have rebuild cacert with it and everything was working (took from google, converted to DER/Binary)

@florianf probably we should take all droid certificat

[2017-06-15 13:08] dkimitsa commented on #151
@bnj4 please build from branch specified in PR to see if your issue gone
https://github.com/MobiDevelop/robovm/pull/167

[2017-06-15 14:33] florianf commented on #166
We're currently moving repos and the Debugger merge is not finished so it will take some time.

[2017-06-15 14:33] #166 closed

[2017-06-15 20:59] rdamiano commented on #158
@dkimitsa huh you're right, that was easy, it did take a long time though lol

Sorry to keep coming back with questions, but all seems good, and it compiles (the changes you've applied in this PR are visible too). But regardless if I deploy or compile a release build, the process fails right after the step:

"Copying [AdHoc/Development] provisioning profile..."

No idea why, I haven't touched the

[2017-06-16 11:45] dkimitsa commented on #158
@rdamiano is there any other output in robovm tab besides ""Copying [AdHoc/Development] provisioning profile..." ?

[2017-06-16 12:11] rdamiano commented on #158
@dkimitsa Nothing useful that I can tell, it's just going through the normal process and then fails. Here's a screenshot.

![screenshot 2017-06-16 08 08 56](https://user-images.githubusercontent.com/2300869/27226094-591a557c-526b-11e7-94d9-a5771781ad01.png)

[2017-06-16 12:14] dkimitsa commented on #158
could you please also check Idea log as there will be a little bit more about NullPointerException

[2017-06-16 12:30] rdamiano commented on #158
@dkimitsa Okay didn't know about the logs, here's I believe the relevant output:

[code]

[2017-06-16 12:52] dkimitsa opened #168 "Entitlement.plist has to be reverted back to compiler/compiler/src/main/resources"
this commit has removed Entitlement.plist which makes build against device is not possible if project doesn't ship own one
https://github.com/MobiDevelop/robovm/commit/2f183441c7d55c1e3c5d39835e81a987ab3455be

check this issue for details

[2017-06-16 12:53] dkimitsa commented on #158
it was broken by one of commits, check https://github.com/MobiDevelop/robovm/issues/168 i've created
meanwhile please add Entitlement.list to your project (and robovm.xml) is compiling against device. Simulator shall be not affected

[2017-06-16 13:12] dkimitsa commented on #168
https://github.com/MobiDevelop/robovm/pull/169

[2017-06-16 16:48] florianf commented on #168
My Bad, thx!

[2017-06-16 16:48] #168 closed

[2017-06-16 18:12] rdamiano commented on #158
@dkimitsa Yep that did it, alright cool thanks again for all the help looks like I'm up and running now ;)

[2017-06-20 08:16] dkimitsa commented on #55
@hoangtunho2611  can you please try with yesterday snapshot build ? there is Idea hang fix included. So it will show the item it hangs on. I suspect that it is code sign or something.

[2017-06-20 09:06] hoangtunho2611 commented on #55
@dkimitsa

Sorry for not confirming soon. It was fixed in version release 2.3.0. I can debug on iphone 5s device.

[2017-06-20 09:38] dkimitsa commented on #55
sorry for asking, how can you debug if there is not debug in snapshot build

[2017-06-20 09:45] hoangtunho2611 commented on #55
I still using version release 2.3.1. Maybe the snapshot is not perfect. I have not tried with snapshot build.

[2017-06-23 00:34] rdamiano opened #170 "Arm64 Issue, audio format unsupported?"
So I'm porting a project over from OLD RoboVM (before it shut down) to MobiDevelop's build. All is good but I was getting bug reports from only some iOS users after a recent release.

I eventually narrowed it down to only arm64 devices, only devices that used that architecture had this problem.

The issue is with this line of code:

`ExtAudioFile outputFileExtAudio = ExtAudioFile.create(outputFile

[2017-06-24 19:04] florianf opened #171 "Add debugging support to Eclipse"
Thanks to @dkimitsa we have first class debugging support for IDEA. The Eclipse debugger implementation is very unstable and incomplete ATM. The following issues are present:

* Connecting to the debugger only seems to work when launching Eclipse in debugging and setting a breakpoint somewhere when the debugger is instanciated.
* Connecting to the debugger seems to work only once, afterwards Eclip

[2017-06-26 14:49] dkimitsa commented on #171
hey, have introduced myself to eclipse today.
About 1 -- have not faced yet
About 2 -- confirm and also there is Eclipse JDI rejects hit breakpoint (e.g. breakpoint hit and eclipse resumes VM), don't know why -- need to dig Eclipse JDI sources
About 3 -- I was playing with build-in small project and it was ok, can you please confirm that it either doesn't work at all or doesn't work with external

[2017-06-26 21:09] florianf commented on #171
Hey @dkimitsa, great to hear!

1) You're right, i confused it with issue 2)
3) Updated to latest neon and reset my workspace and the problem is gone for now. Will test on libgdx project later.

[2017-06-26 21:34] florianf commented on #171
Have to revert regarding 2) source lookup. It works for a simple new iOS Project (from RoboVM template) but not for a simple libgdx project created with the setup ui http://libgdx.badlogicgames.com/download.html

[2017-06-28 10:03] StefanOltmann opened #172 "iOS 11 Public Beta not working: LOCKDOWN_E_PLIST_ERROR"
#### Issue details
Using the RoboVM eclipse plugin I can't install my app on an iPad Air running the current iOS public beta because of an LOCKDOWN_E_PLIST_ERROR.

I use XCode 8.3.3 on MacOS 10.12.5 with the current RoboVM snapshot.

#### Reproduction steps/code
"Run as iOS Device app" (64bit) from the Eclipse Plugin menu.

#### Configuration

**Build Tools:**
- [ ] IDEA plugin
- [X] Eclipse plugi

[2017-06-29 20:14] stickyd opened #173 "Proxy.getProxyClass returns null for an empty interface"
#### Issue details
Calling `Proxy.getProxyClass` with an interface that has no methods returns `null`.

On desktop JVM and Android devices, this does not return `null`.

The [docs](https://docs.oracle.com/javase/7/docs/api/java/lang/reflect/Proxy.html#getProxyClass(java.lang.ClassLoader,%20java.lang.Class...)) for this method do not suggest that return `null` is expected in this case.

The functio

[2017-06-29 20:34] stickyd commented on #173
Note that I'm completely ok with nothing being done here. Calling this with an empty interface is a really bizarre usage, and I'm removing/working around it from my side.

[2017-07-01 12:59] dkimitsa commented on #171
@florianf
fixed 1, 2 issues, please try https://github.com/MobiDevelop/robovm/pull/174

had no time to create complex project with libgdx to test source lookup, is it possible you to send me ready to test one ?

[2017-07-01 13:00] dkimitsa commented on #151
it was already merged and part of snapshot, can it be closed ?

[2017-07-01 13:04] dkimitsa commented on #172
dependency
https://github.com/libimobiledevice/libimobiledevice/issues/510

[2017-07-02 07:22] florianf commented on #171
Allright, I'll give it a Spin, thx!

[2017-07-03 10:20] florianf commented on #171
Simple project with a core and a ios project, generated with libgdx setup tool:
[project.zip](https://github.com/MobiVM/robovm/files/1119173/project.zip)

You'll need to adapt the .classpath file to point to your local maven cache. This are the imported projects, for simple reproducing and working gradle tasks, do the following:

* Create new project with libgdx setup tools
* Change to the directo

[2017-07-03 10:25] florianf commented on #171
Regarding #174 , re-launching of the debugger works now flawlessly, great!

[2017-07-03 17:59] florianf commented on #151
I'll close this. Please re-open when needed.

[2017-07-03 17:59] #151 closed

[2017-07-09 17:22] TaiVuong opened #177 "Eclipse plugin 2.3.2-SNAPSHOT did not work"
#### Issue details

#### Reproduction steps/code
git pull
run build.sh --> BUILD SUCCESS
install eclipse plugin -> run ios project -> Error dialog box displays.

#### Configuration
OSX 10.11.6
Xcode 8.2

**Build Tools:**
- [ ] IDEA plugin
- [x] Eclipse plugin
- [ ] Gradle plugin

#### Versions
2.3.2-SNAPSHOT

[2017-07-10 06:52] dkimitsa commented on #177
it is already been merged to master, build plugin manually or wait for another snapshot

[2017-07-10 07:34] TaiVuong commented on #177
I had just pull and build the master yesterday, sorry for missing info.
U mean build plugin manually by Eclipse plugin development ?
can not use  file robovm/build.sh to build?

[2017-07-10 07:38] dkimitsa commented on #177
i mean using build.sh

[2017-07-10 09:29] TaiVuong commented on #177
yes, I had used it.
same problem when i delele all -> clone and build again

[2017-07-10 19:21] keesvandieren commented on #107
Are those bindings for an older version of Firebase? App classname name seems to be `FirebaseApp`, according to: https://firebase.google.com/docs/ios/setup

[2017-07-11 21:25] keesvandieren opened #178 "Robovm 2.3.1 gradle plugin not compatible with Gradle 4.0.1"
Please ensure you have given all the following requested information in your report.

#### Issue details
Robovm createIPA, launchIOSDevice tasks fail with Gradle 4.0.1.

#### Reproduction steps/code

* Create a new project using https://github.com/czyzby/gdx-setup.  Check iOS platform, set Robovm version to 2.3.1
* Configure Robovm (e.g. provide existing app id, provisioning profile etc)
* Upgrade

[2017-07-12 04:52] florianf commented on #178
Thanks for the report!
@keesvandieren could you take a look at it and provide a pr?

[2017-07-12 18:18] keesvandieren commented on #107
https://firebase.google.com/docs/crash/ios states:

`Note: Crashlytics will soon become the primary crash reporter for Firebase. If you aren't already using Crash Reporting to report crashes and non-fatal errors in your app, we recommend using Crashlytics.`

Bindings for Crashlytics are here: https://github.com/MobiVM/robovm-robopods/tree/master/fabric

[2017-07-15 06:21] florianf commented on #178
Maybe this is related to the change of classes dir in gradle 4.0? https://docs.gradle.org/current/release-notes.html#potential-breaking-changes

[2017-07-15 10:56] Tom-Ski commented on #178
Should be resolved by f11fe75f823a347c5b5e87323330afab89f7c41a

[2017-07-15 10:56] #178 closed

[2017-07-15 20:57] keesvandieren commented on #178
Thanks! Tested it and now creates an app archive.

One minor remark: the console logs some messages (probably intended as warnings):

    Classpath entry /Users/path/projectname/build/classes/main does not exist
    Classpath entry /Users/path/projectname/build/classes/groovy/main does not exist
    Classpath entry /Users/path/projectname/build/classes/scala/main does not exist
    Classpath entry

[2017-07-17 02:26] ghost opened #181 "tvOs support"
I had build many my projects for for tvos, it's very good, can run, no bug
the problem is i can not package for App store

[2017-07-17 11:15] mustii82 commented on #181
Did you use RoboVM from this Repo? Did It run on the tvOS Simulator?

[2017-07-17 11:52] StefanOltmann opened #182 "Gradle Job fails when running on Jenkins MacOS build slave"
#### Issue details

The current version of RoboVM may fail on an MacOS build slave run by Jenkins.

When I execute the same "gradlew :mobile-ios:createIPA" on the command promt logged into that machine the build succeeds. After doing that the build triggered by Jenkins also runs good for some time after falling back to failing.

This "unknown error -1=ffffffffffffffff" is stange. I ran the gradle

[2017-07-17 11:58] Tom-Ski commented on #182
Your codesigning is failing, your jenkins probably doesn't have access to the correct keychain

[2017-07-17 12:21] StefanOltmann commented on #182
Thank you for your hint. Do you know why the build succeds after running manually on the slave?

I'm not sure how to configure this correctly. Is there any tutorial? Do I have to use a specific user on the build slave?

The thing that irritates me is that I would expect it to fail all the time when there is a misconfiguration.

[2017-07-17 17:12] stickyd commented on #182
We ran into this a while back, it was reproducing only some of the time. I figured there was some voodoo going on somewhere, so I just put a workaround in for opening up the keychain.

I put this workaround in as a Gradle task. Pass the keychainPassword in as a command line arugment (`-PkeychainPassword=xxx`)

[code]

Hook that up with `createIPA.dependsOn macSecurityPriviledges`

[2017-07-17 17:26] TaiVuong commented on #181
yes, Simulator and real device.

[2017-07-17 17:38] Tom-Ski commented on #181
Are you getting rejected from the appstore? Bitcode is required for tvOS and watchOS apps, which is not supported in this version of robovm.

[2017-07-17 23:10] rdamiano commented on #170
Just want to check in and see if this has been addressed? I don't mean to be demanding. I've looked through the source code myself but I had no idea what I was looking for and nothing seemed wrong but idk.

After I posed this question/issue I used old RoboVM and was able to get the app compiled and deployed. But as I'm going to soon be working on an app update it would be helpful if I could just s

[2017-07-18 00:39] TaiVuong commented on #181
i can not build for release, it says robovm does not support. to build for debug i change info.plish as tutorial from robovm and run exactly the same as ios

[2017-07-18 07:40] StefanOltmann commented on #182
@stickyd Thank you a lot! This works! :-)
This one should go straight into the Wiki, very useful snippet.

I just added a "if (project.hasProperty('keychainPassword'))" around that
so that Windows builds do not break because of the missing "keychainPassword".

[2017-07-18 08:32] StefanOltmann commented on #177
The current snapshot version created on 2017-07-16 @ http://robovm.mobidevelop.com/downloads/snapshots/eclipse/ is also broken. I can confirm that the current eclipse plugin does not work.

[2017-07-18 09:55] intrigus commented on #170
Please add a sample that triggers the error :)

[2017-07-18 14:44] Tom-Ski commented on #182
Great!

[2017-07-18 14:44] #182 closed

[2017-07-18 14:45] Tom-Ski commented on #177
Please try todays snapshot.

[2017-07-19 07:20] blady214 opened #183 "LlvmException in Gradle plugin 2.3.2-SNAPSHOT"
Please ensure you have given all the following requested information in your report.

#### Issue details
When I'm building my iOS application with Gradle I get following error:

`[09:04:19][Gradle failure report] Execution failed for task ':createIPA'.
[09:04:19][Gradle failure report] > com.myLib.client.net.helper.SessionHelper:1827:36: error: use of undefined value '%r0'
[09:04:19][Gradle failur

[2017-07-19 07:55] StefanOltmann commented on #183
Same for the eclipse plugin!

And yes, yesterday there was a new release for a bug in the eclipse plugin.

[2017-07-19 07:57] StefanOltmann commented on #177
@Tom-Ski This version starts, but fails during the compilation with this:

`An internal error occurred during: "Launching mobile-ios".
org.jdesktop.application.ResourceMap:4261:36: error: use of undefined value '%r0'
    %t57 = load volatile %Object** %r0, !dbg !{i32 1037, i32 0, !73, null}`

[2017-07-19 08:00] StefanOltmann commented on #172
Can we include the new libimobiledevice with that iOS 11 patch in RoboVM?

[2017-07-19 09:51] dkimitsa commented on #172
there is no new libmobiledevice with patch. dependency  is still in open status

[2017-07-19 13:50] dkimitsa commented on #181
there is more than build is required. proper separation for cocoatouch library has to be added. otherwise it will compile against api that is probably missing in target platform

[2017-07-19 15:02] florianf commented on #183
Does it work for the Simulator? Could you provide the relevant Java Code which triggers this llvm error? @dkimitsa any idea?

[2017-07-19 15:20] dkimitsa commented on #183
@florianf I suspect that recent snapshots are broken and missing  required dependencies. Tomski is checking this

[2017-07-19 18:32] Tom-Ski commented on #177
Please update to the latest snapshot eclipse plugin, and delete your ~/.robovm/cache directory and retry.

[2017-07-20 03:02] TaiVuong commented on #177
It worked.

[2017-07-20 03:02] #177 closed

[2017-07-20 07:45] blady214 commented on #183
@florianf I didn't check it on simulator because I am using Gradle plugin only to build final IPA file. In other cases I am working with InteliJ IDEA plugin which works properly. Of course, if it will helps, I will check later if I am albe to run application on simulator using the plugin.

It could be a bit difficult to provide code which triggers the error because stack trace points to line 1827

[2017-07-20 07:49] StefanOltmann commented on #177
Not for me... I updated to the current snapshot release 2.3.2.201707191754, deleteted the cache and build again. The error message stayed the same.

`An internal error occurred during: "Launching mobile-ios".
org.jdesktop.application.ResourceMap:4261:36: error: use of undefined value '%r0'
    %t57 = load volatile %Object** %r0, !dbg !{i32 1037, i32 0, !73, null}

[2017-07-20 07:56] StefanOltmann commented on #183
The related eclipse plugin issue was closed recently, but the problem persists.

[2017-07-20 07:57] Tom-Ski commented on #183
Can you provide a code sample or code that reproduces please.

[2017-07-20 08:01] blady214 commented on #183
@Tom-Ski I can provide you whole SessionHelper class from library which I am using. Will it be enough?

[2017-07-20 08:01] Tom-Ski commented on #183
If it compiles on its own, yes.

[2017-07-20 08:16] blady214 commented on #183
SessionHelper class comes from library which is complied and attached to the project as JAR file. Below its code:

`package com.myPackage.client.net.helper;

import com.myPackage.client.net.AuthenticationManager;
import com.myPackage.client.net.CAuthenticationResult;
import com.myPackage.client.net.Session;
import com.myPackage.client.net.http.client.NetException;
import com.myPackage.client.net.r

[2017-07-20 08:20] Tom-Ski commented on #183
Can't test this as it doesn't compile on its own.

[2017-07-20 22:51] rdamiano commented on #170
Sure sorry, should have done that to start. This seems to trigger it:

[code]

So if I run it with arm64 on an appropriate device, it fails. Running it with thumbv7 on same device it doesn't fail. And again, old RoboVM worded with both architectures.

[2017-07-24 08:17] blady214 commented on #183
@Tom-Ski there are too many dependencies, so I should share with you the whole library but I'm afraid that I can not do this. Let me know if you need the library or something else what can help you.

[2017-07-24 11:01] florianf commented on #183
Take a look at https://github.com/libgdx/libgdx/wiki/More-Info

[2017-07-24 21:45] rdamiano commented on #170
Here's the error exactly:

[code]

[2017-07-25 18:12] Tom-Ski opened #187 "2.3.2 Release"
I'd like to have a release so we can have a stable ground for the new builds of Intellij and for people to get their hands on the experimental debugging tools and Gradle support. This will also allow for a LibGDX release which is a little overdue.

I haven't found any issues after testing with Intellij, Eclipse and command line, and have also had a handful of positive confirmations that the snapsh

[2017-07-25 18:14] Tom-Ski commented on #170
What arm64 devices have you tested on?

[2017-07-25 18:21] rdamiano commented on #170
People have reported it on iPhone SE and I was able to get it to occur on an iPhone 5S.

Both seem to be arm64 compatible https://developer.apple.com/library/content/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html

Didn't happen on my iPad 4th gen, doesn't seem to be arm64 compatible.

If I would export as thumbv7 and run it

[2017-07-25 18:27] Tom-Ski commented on #170
Could you try this basic view controller? https://gist.github.com/Tom-Ski/bc4b61e80c30eb824736c5d52b185d47 I don't have an arm64 device with me right now so I can't test it, but it should give us an idea about which side the problem lives on.

[2017-07-25 18:32] Tom-Ski commented on #170
Ah, potentially scratch that. AudioFormat is getting marshaled as 64bit on arm64, but it should always be a 32bit 4 char code.

[2017-07-25 18:39] rdamiano commented on #170
I don't know much about this stuff, but that sounds pretty relevant hope that's it. Let me know if I should test something, or the thing above. I assume I'll have to compile RoboVM locally with your change right?

[2017-07-25 18:40] Tom-Ski commented on #170
It should be an easy fix, and we can push out a snapshot this evening if you can test that it would be great.

[2017-07-25 19:08] rdamiano commented on #170
That would be even easier ;) Thanks, I'll test it out tonight when I see the snapshot available

[2017-07-26 07:11] StefanOltmann commented on #183
I've the same problem. I can't share my companys code base and do not have the time at this moment to create a sample project that reproduces the problem.

Did anyone check if maybe one of the many sample projects fail with this error?

[2017-07-26 08:29] dkimitsa commented on #183
it would be related to compiler/soot part. But I would need a sample project to track it down. Will check  with team if there is any issue with production wide projects (we still using 2.3.1 as 2.3.2 was release multiple times under same version and it hard to track the build to specific binary it was build with)

[2017-07-26 16:48] Tom-Ski commented on #170
@rdamiano snapshot has been published, if you could give that a test on all archs that would be great 👍

[2017-07-26 19:15] stickyd opened #188 "Specific usage of method references fails to compile"
#### Issue details
With a specific type of method reference used, an ArrayIndexOutOfBoundsException is thrown.

A method reference to an instance method of a given class, used from within that class.

#### Reproduction steps/code
The follow code will fail to compile:
[code]

#### Configuration
**Build Tools:**
- [X] IDEA plugin
- [X] Eclipse plugin
- [X] Gradle plugin

**Versions:**
_Please provid

[2017-07-26 21:22] stickyd commented on #183
We're experiencing this. It reads like it might be some missing dependencies or something. A blank project that depends on a particular class within Hamcrest (which depends on some java.beans classes that don't exist), is throwing up a similar error:

[code]

[Issue183.zip](https://github.com/MobiVM/robovm/files/1178104/Issue183.zip)

[2017-07-26 23:45] rdamiano commented on #170
@Tom-Ski Alright just tested and seems to work now with both thumbv7 and arm64. Nice. Thanks a lot really appreciate all this!

[2017-07-26 23:54] Tom-Ski commented on #183
And you can run your example ok on a previous version?

[2017-07-27 00:18] stickyd commented on #183
Yes, I've just confirmed that with RoboVM and Gradle plugin 2.3.1, this compiles

[code]

[2017-07-27 00:19] Tom-Ski commented on #183
Ok great, it  looks like we aren't picking up phantom classes correctly anymore.

[2017-07-28 20:20] florianf commented on #183
@dkimitsa can you take a look at it, if it broke due the soot changes?

[2017-07-31 06:39] dkimitsa commented on #183
it is also could be broken due the reversal tree traversal fix as I can see that phantom classes are removed. I there is a simple project to reproduce I will look into asap.

[2017-07-31 08:38] StefanOltmann commented on #183
@dkimitsa If you commit your fix into the master I can test if my companys project compiles again and give feedback.

[2017-07-31 12:35] dkimitsa commented on #183
@StefanOltmann hi, do you have simple project to reproduce the issue ? as I didn't face it on own projects?

[2017-08-01 11:16] rdamiano opened #189 "Release/Dispose and NSAutoreleasePool"
This isn't an issue but rather a question for some clarification, if that's alright.

I have some code generating MP4s from arrays of pixels using AV foundation etc... It's worked great. However, not so much on something like a 1st gen iPad Mini - memory issues I assume, as I get about 2 "memory warnings" before the app just crashes (as the MP4 is generated frame by frame).

I'm trying to figure o

[2017-08-01 12:01] StefanOltmann commented on #183
@dkimitsa No, I can't do that. The problem occurs by compiling code my company owns and I'm not allowed to share that. The codebase is pretty huge. To provide a sample project I would have to create a new project and try to get that error - this will cost time and I need to get approval from my management for that.

However: When you think you know a fix for the problem I can test if a new RoboVM

[2017-08-01 22:35] florianf commented on #183
@StefanOltmann, @stickyd  could you try to undo the merged pr https://github.com/MobiVM/robovm/pull/164 and see if this fixes your problem?

[2017-08-02 11:15] dkimitsa commented on #183
@florianf I'm on it, trouble comes from modified soot

[2017-08-03 00:12] rdamiano commented on #170
@Tom-Ski Hey, did something change with this in the latest snapshot? The issue seems to be back. I notice a new snapshot came out yesterday on August 1st as well?

However, it's different. If I run on arm64 it does NOT happen. I can now only get it to happen if I export Ad-Hoc on arm64 and manually install.

[2017-08-03 12:46] Tom-Ski commented on #170
Potentially, I've been having issues with my macbook, I'll try get a clean build and ping you when its done for you to test.

[2017-08-03 13:56] dkimitsa commented on #183
here are some backgrounds of issue:
- soot was modified to connect Locals to variable table index which is required for debugger to work
- in case there are phantom classes soot misses information about classes.

in example about this causes following code to be broken:
` public static PropertyDescriptor[] propertyDescriptorsFor(Object fromObj, Class<Object> stopClass) throws IllegalArgumentExcept

[2017-08-03 16:13] Tom-Ski commented on #170
@rdamiano a build has just been pushed out, could you give that a go?

[2017-08-03 17:02] rdamiano commented on #170
Wow that was fast, thanks, I'll check it as soon as I can later today and let you know, appreciate it!

[2017-08-03 21:51] rdamiano commented on #170
@Tom-Ski hm regretably that didn't seem to do it, I cleared all robovm/gradle caches, updated the eclipse plugin, etc - same deal

In case this helps, this is unique to the problem this time around, it only happens with AdHoc (and I assume App Store distribution build). But it does not happen when just running it.

- I just cleared the RoboVM cache and compiled thumbv7/arm64 AdHoc.
- I installed t

[2017-08-03 21:55] Tom-Ski commented on #170
Can you try building from gradle only, and then installing that?

[2017-08-03 22:00] rdamiano commented on #170
Sorry I'm a bit dense with this stuff, building from gradle only?

[2017-08-03 22:04] Tom-Ski commented on #170
Creating an IPA using the gradle plugin alone, not through the eclipse plugin. https://github.com/MobiVM/robovm/tree/master/plugins/gradle

If you're having trouble you can pop into the gitter https://gitter.im/MobiVM/robovm and I can try giving a hand.